/public
*.xd
*.zip
*.map
.hugo_build.lock
data/standardSection/*
data/standardHeaderSection/*
data/specialSection/*
data/contactSection/*
data/employees/*
data/frameContent/*
content/cases/*
content/testimonials/*
data/features/*
holion-new-design/images/*
holion-new-design/fonts/*
holion-new-design/*.css
holion-new-design/package*.*

node_modules
content/1Tjzj18qGcoY7UGaUIgaPk.md

content/2H1Cbjp1RJD4safp4gPinA.md

content/2JkpXyfpArt9XeMyAfWwU5.md

content/2K3TgPMIufhQ099czicC2z.md

content/359Pxl02E8w543w62O5WH6.md

content/4xDzE0tcEvYH7y7gbkTnuQ.md

content/53ZQq9PJWXC90wLH4K5keP.md

content/6eHNC7B8Aig3VxVeta6tm7.md

content/6qv2qEwQ2n8p4ZKv9RbSxq.md

content/6r929mF4MjS4fCIbnD87hM.md
