/public
*.xd
*.zip
*.map
.hugo_build.lock
data/standardSection/*
data/standardHeaderSection/*
data/specialSection/*
data/contactSection/*
data/employees/*
content/cases/*
content/testimonials/*
holion-new-design/images/*
holion-new-design/fonts/*
holion-new-design/*.css
holion-new-design/package*.*

node_modules