<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    {{ partial "bodytop.html" . }}
    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>
        
        <div id="content">
            {{ if isset .Params "standardpage" }}
            {{ partial "standardPage.html" . }}
            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

</body>

</html>