<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
  {{ partial "bodytop.html" . }}
  <div id="all">

    <header>

      {{ partial "nav.html" . }}

    </header>

    <div id="content">
      {{ if isset .Params "id" }}

      {{ partial .Params.id . }}

      {{ else }}

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <div>
              {{ partial "testimonial.html" . }}
              <div style="float: right; margin-left: 20px; margin-bottom: 20px; margin-top: 48px" class="hidden-xs">
                  <img src="{{ .Params.img }}" width="350">
              </div>                
              <div class="visible-xs">
                  <img src="{{ .Params.img }}" style="img-responsive">
              </div>                
              {{ .Content }}
            </div>

          </div>

        </div>
        <!-- /.row -->

        <h2>
          Andre cases
        </h2>

        <p>
          {{ range (where (where .Site.Pages "Type" "cases") "Title" "!=" .Page.Title) }}
          {{ if ne .Kind "section" }}
          {{ partial "case.html" . }}
          {{end}}
          {{ end }}
        </p>
      </div>
      <!-- /.container -->

      {{ end }}
    </div>

    <!-- /#content -->

    {{ partial "footer.html" . }}

  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}

</body>

</html>