<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
  {{ partial "bodytop.html" . }}
  <div id="all">

    <header>

      {{ partial "nav.html" . }}

    </header>

    <div id="content">
      {{ if isset .Params "id" }}

      {{ partial .Params.id . }}

      {{ else }}

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <div>
              {{ partial "testimonial.html" . }}
              <div style="float: right; margin-left: 20px; margin-bottom: 20px; margin-top: 48px" class="hidden-xs">
                <img src="{{ .Params.img }}" width="350">
              </div>
              <div class="visible-xs">
                <img src="{{ .Params.img }}" class="img-responsive">
              </div>
              {{ .Content }}
            </div>

          </div>

        </div>
        <!-- /.row -->

        <h2>
          Andre cases
        </h2>

        <p>
          {{ range (where (where .Site.Pages "Type" "cases") "Title" "!=" .Page.Title) }}
          {{ if ne .Kind "section" }}
          {{ partial "case.html" . }}
          {{end}}
          {{ end }}
        </p>
      </div>
      <!-- /.container -->

      {{ end }}
    </div>

    <!-- /#content -->

    {{ partial "footer.html" . }}

    <div id="contact-footer">
      Skal dit projekt også være en success?
      <span>
        <a href="/kontakt" class="btn btn-small btn-template-main">Kontakt os</a>
      </span>
    </div>

  </div>
  <!-- /#all -->

  <style>
    body {
      margin-bottom: 2em;
    }

    #contact-footer {
      position: fixed;
      font-size: 1.2em;
      padding: 0.5em;
      font-weight: bold;
      color: white;
      text-align: center;
      background-color: #38a7bb;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin-bottom: 0px;
    }

    #contact-footer span {
      padding: 20px 10px;
    }

    #contact-footer span a:hover {
      border: 1px solid white;
    }
  </style>

  {{ partial "scripts.html" . }}

</body>

</html>