@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --primary: #65bd84;
    --primary-dark: #3b8a57;
    --primary-dark-opaque: #3b8a5780;
    --bg-dark: #02261A;
}
body {
    background: #000;
    color: #fff;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-image: url("~images/background_1.svg") no-repeat center center fixed;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Mukta Mahee", sans-serif;
    ;
    font-weight: 900;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0px;
}

.footer .footer-position {
    position: absolute;
    bottom: 0%;
}

.footer .footer-position.position-top {
    top: -50px;
    left: 5%;
    width: 90%;
}

.footer .footer-position.position-middle {
    top: 20px;
        left: 50%;
        transform: translateX(-50%);
}

.footer .footer-position.position-bottom {
    top: 140px;
        left: 50%;
        transform: translateX(-50%);
}

.footer .footer-position.position-left {
    left: 0%;
}

.footer .footer-position.position-center {
    left: 33%;
    width: 33%;
}

.footer .footer-position.position-right {
    right: 0%;
    text-align: right;
}

#footer-lower,
#footer-small {
    background-color: var(--bg-dark);
    padding-bottom: 20px;
}

.footer-lower {
    height: 120px;
}

.footer-small {
    height: 140px;
}

@media screen and (min-width: 768px) {

    .owl-carousel .owl-controls .owl-buttons .owl-next,
    .owl-carousel .owl-controls .owl-buttons .owl-prev {
        color: var(--primary);
        background: none;
        font-size: 50px;
        top: 400px;
        left: 20%;
    }

    .owl-carousel .owl-controls .owl-buttons {
        top: 400px;
        left: 0;
        display: flex;
        justify-content: space-between;
        /* padding-left: 30px; */
    }
    
    .owl-carousel .owl-controls .owl-page.active span,
    .owl-theme .owl-controls .owl-page.active span,
    .owl-carousel .owl-controls.clickable .owl-page:hover span,
    .owl-theme .owl-controls.clickable .owl-page:hover span {
        background: var(--primary);
    }
}

@media screen and (max-width: 767px) {
    .owl-carousel .owl-controls .owl-page,
        .owl-theme .owl-controls .owl-page,
        .owl-carousel .owl-controls.clickable .owl-page:hover span,
        .owl-theme .owl-controls.clickable .owl-page:hover span {
        display: none !important;
    }

                .owl-carousel .owl-controls .owl-buttons .owl-prev,
                .owl-carousel .owl-controls .owl-buttons .owl-next {
        display: none;
    }

        .owl-carousel .owl-controls .owl-buttons {
    top: -55px;
    left: 80%;
    display: flex;
    }
}
    
.footer-upper {
    background-color: black;
    height: 180px;
}

.footer-upper.small {
    height: 50px;
}
.right-positioned-parent {
    position: relative;
    height: 40px;
    bottom: -20px;
}

.right-positioned-parent .right-positioned-component {
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.citation-outer {
    position: relative;
    height: 500px;
    width: 60%;
    bottom: 0px;
}

.citation-outer .citation-inner-upper {
    position: absolute;
    left: 60%;
    top: 0px;
}

.citation-outer .citation-inner-lower {
    position: absolute;
    width: 100%;
    top: 180px;
    left: 30%
}

.case-outer {
    position: relative;
    height: 950px;
    width: 100%;
    bottom: 0px;
}

.case-outer .case-inner-header {
    position: absolute;
    width: 100%;
    float: left;
}

.case-outer .case-inner-name {
    position: absolute;
    width: 40%;
    top: 580px
}

.case-outer .case-inner {
    position: absolute;
    top: 47%;
    left: 52%;
}

.case-img-logo-outer {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.case-img-logo-outer .logo-inner {
    max-height: 100%;
    max-width: 100%;
}

.holion-button-outer {
    position: relative;
    height: 30px;
    width: 100%;
    bottom: 0px;
}

.section-header-mobile {
    height: 350px;
    width: 100%;
    background-size: cover;
        margin-top: -20%;
}

@media screen and (min-width: 460px) {
.section-header-content-mobile {
    margin-top: -40px;
    background: var(--primary-dark-opaque); 
    margin-left:10%; 
    width: 80%;
}
}

@media screen and (max-width: 460px) {
    .section-header-content-mobile {
        margin-top: -40px;
        background: var(--primary-dark-opaque);
        margin-left: 3%;
        width: 94%;
    }
}

.holion_tag {
    background-color: var(--primary);
    width: fit-content;
    color: black;
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 8px;
    margin-top: 8px;
    font-size: 12px;
    text-transform: uppercase;
}

.holion-tag-text {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
.header-distance {
        margin-top: 200px;
}
.vericaltext {
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    text-transform: uppercase;
}
.holion-title {
    font-size: 70px;
    font-weight: bold;
}

.holion-title-page {
    font-size: 64px;
}

.holion-arrow-size {
    padding-left: 12px;
    font-size: 64px;
    margin: auto;
}

.holion-title-section {
    font-size: 36px;
    font-weight: bold;
}

.holion-title-section-light {
    font-size: 36px;
}
.holion-top-text {
    font-size: 24px;
}

.holion-footer-text {
    font-size: 16px;
}

.holion-menu-text {
    font-size: 18px;
    font-weight: bold;
}

}

.teaser-title {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 991px) {
    .teaser-title-large {
        display: block;
    }

    .teaser-title-small {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .teaser-title-large {
        display: none;
    }

    .teaser-title-small {
        display: block;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
    .teaser-title-large {
        display: block;
    }

    .teaser-title-small {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .teaser-title-large {
        display: none;
    }

    .teaser-title-small {
        display: block;
    }
}



@media screen and (max-width: 991px) {
    .holion-title-section-light {
        font-size: 30px;
    }
}
@media screen and (max-width: 767px) {
    .header-distance {
        margin-top: 120px;
    }
    
    .vericaltext {
        text-align: center;
        text-transform: uppercase;
    }

    .holion-title {
        font-size: 40px;
        font-weight: bold;
    }

    .holion-title-page {
        font-size: 36px;
        max-width: 70%;
        margin: auto;
    }

    .holion-arrow-size {
        padding-left: 12px;
        font-size: 64px;
        margin: auto;
    }

    .holion-title-section {
        font-size: 24px;
        font-weight: bold;
    }

    .holion-title-section-light {
        font-size: 22px;
    }

    .holion-top-text {
        font-size: 24px;
    }

    .holion-footer-text {
        font-size: 14px;
    }

    .holion-menu-text {
        font-size: 18px;
        font-weight: bold;
    
    }
}
.holion-button-outer .holion-button-inner {
    position: absolute;
    top: 0px;
    right: 10%;
    width: 220px;
    background-color: var(--primary);
    color: white;
    /* height: 30px; */
    font-size: 14px;
    letter-spacing: 2.2px;
    /* text-transform: uppercase; */
    text-align: center;
    padding: 5px
}

.holion-button-outer .holion-button-inner.hide {
    display: none;
}

.kontact-background {
    width: 130px;
    background-color: grey;
}

.white_text_color,
.white_text_color a {
    color: #fff;
}

.teaser-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
}

.form-control {
    border-color: var(--primary);
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    color: white !important;
}

.form-control:hover,
.form-control:focus {
    border-color: var(--primary);
    background-color: var(--primary);
    color: white !important;
    box-shadow: none;
    border-radius: 0;
    padding-inline: 10px !important;
}
a,
a:hover {
    color: var(--primary);
}


.holion-button-inner a,
.holion-button-inner a:hover {
    color: #fff;
}

.white-link a,
.white-link a:hover {
    color: #fff;
    text-decoration: underline;
}

.holion_main_color {
    color: var(--primary);
}

.card-box {
    min-width: 100%;
    font-size: 14px;
    position: relative;
}

.container-square {
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    position: relative; /* REQUIRED */
    width: 40%;   /* REQUIRED, change it to adjust the aspect ratio */
    padding-top: 40%;    /* REQUIRED, change it to adjust the aspect ratio */
}

.container-inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-inner-arrow {
    position: absolute;
    bottom: 4%;
    right: 2%;
}

.hover-box {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    color: var(--primary);
}

.service-box {
    min-height: 100%;
    max-height: 100%;
    max-width: 400px;
    width: 100%; 
}

.service-hover-box {
    display: flex;
    color: var(--primary);
}

.hover-box:hover,
.service-hover-box:hover,
.container-square:hover {
    color: #fff;
    background-color: var(--primary);
}
    
    
.currentColor {
        color: var(--primary);
}

.testimonial-items {
    background-color: black;
    min-width: 100%;
    padding-right: 60px;
    }
    
@media screen and (min-width: 769px) {
    .testimonial-items {
        padding-right: 0px;
    }
}

.csr-items {
    background-color: var(--bg-dark);
    width: 100%;
}

.csr {
    padding: 0;
    margin-bottom: 40px;
}

.csr .item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.holion-border {
    border-width: 2px;
    border-color: var(--primary) !important;
    border-style: solid;
}

.so-me-circle,
.so-me-circle:active {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    border-radius: 50%;
}

.so-me-circle:hover {
    background-color: var(--primary) !important;
}

.green-box {
    background-color: var(--bg-dark);
}

/* @media screen and (min-width: 1636px) {
    .frontpage-header-box {
        position: relative;
        background: url('/img/Forside.jpg') 0% 20% repeat;
        background-size: cover;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }
}

@media screen and (max-width: 1636px) {
    .frontpage-header-box {
        position: relative;
        background: url('/img/Forside.jpg') 30px -80px repeat;
        background-size: 1500px 1500px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
}

@media screen and (max-width: 880px) {
    .frontpage-header-box {
        position: relative;
        background: url('/img/Forside.jpg') -380px -80px repeat;
        background-size: 1500px 1500px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
} */

.header-distance {
    margin-top: 81px;
    padding-top: 100px;
}

.frontpage-header-box {
    position: relative;
    background: url('/img/Forside.jpg') 50% 10% repeat;
    background-size: 200%;
}

@media screen and (min-width: 1440px) {
    .frontpage-header-box {
        background-size: 100%;
    }
}

.contact-outer-div-mobile {
    position: relative;
}

.contact-inner-mobile-image {
    position: absolute;
    max-width: 70%;
    left: 30%
}

.contact-inner-mobile-info {
    position: absolute;
    background-color: var(--primary-dark-opaque);
    padding: 5px;
    padding-right: 30px;
}

@media screen and (min-width: 500px) {
    .contact-inner-mobile-info {
        top: 50%;
    }
    .contact-outer-div-mobile {
        height: 430px;
    }
}

@media screen and (max-width: 499px) and (min-width: 431px) {
    .contact-inner-mobile-info {
        top: 50%;
        /* left: 10px; */
    }
    .contact-outer-div-mobile {
        height: 400px;
    }
}

@media screen and (max-width: 430px) and (min-width: 411px) {
    .contact-inner-mobile-info {
        top: 55%;
        /* left: 10px; */
    }
    .contact-outer-div-mobile {
        height: 350px;
    }
}

@media screen and (max-width: 410px) {
    .contact-inner-mobile-info {
        top: 60%;
    }
    .contact-outer-div-mobile {
        height: 300px;
    }
}
.card-box .title {
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}

.card-box .content {
    font-weight: 500;
}

.card-box .content.align-bottom-outer {
    height: 20px;
}

.card-box .content.align-bottom-outer .align-bottom {
    position: absolute;
    right: 70px;
    bottom: 10px;
}

.card-box .bigcontent {
    font-size: 24px;
    font-weight: 300;
}

.btn-primary {
    text-transform: none;
    border: 1px solid var(--primary);
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: #fff !important;
    }


@media screen and (min-width: 768px) {
.btn-primary {
    background: transparent;
    font-size: 21px !important;
    font-weight: bold;
    width: fit-content;
    height: 50px;
    line-height: 33px;
    white-space: nowrap;
    }
}

@media screen and (max-width: 767px) and (min-width: 465px) {
    .btn-primary {
        background: var(--primary);
        font-size: 18px !important;
        width: fit-content;
        line-height: 25px;
    }
}

@media screen and (max-width: 465px) {
    .btn-primary {
        background: var(--primary);
        font-size: 18px !important;
        /* width: 100%;
        max-width: calc(100% - 30px) !important; */
        width: fit-content;
        line-height: 25px;
    }
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--primary);
    /* padding-inline: 0px !important; */
    border-color: var(--primary) !important;
    text-decoration: none;
}
    
.show_on_hover {
    display: none;
}

.content-change-on-hoover:hover .show_on_hover {
    display: block;
}

.content-change-on-hoover:hover .hide_on_hover {
    display: none;
}

.footer-apple {
    position: relative;
    width: fit-content;
}


.footer-apple .hoverText {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 220px;
    height: 56px;
    text-align: left;
    /* background-color: var(--primary); */
    color: white;
    font-weight: bold;
}

.same-size-box {
    min-height: 100%;
}

.square-box {
    background-color: silver;
        display: inline-block;
        height: 0;
        padding-bottom: 50%;
        width: 50%;
    }
    
    .square-box-inner {
        margin: 20px;
        min-width: 100%;
        min-height: 100%;
}
.video-container {
    padding-top: 56.25%;
    position: relative;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .line-outer-class {
        position: relative;
        height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .line-outer-class {
        position: relative;
        height: 200px;
        margin: 15px;
    }
}

.vertical-line {
    border-left: 1px solid var(--primary);
    position: absolute;
    top: 5%;
    left: 50%;
    height: 90%;
}

.circle {
    border-radius: 50%;
    margin-left: -2px;
    left: 50%;
    width: 5px;
    height: 5px;
    top: 5%;
    position: absolute;
    background: black;
    border: 2px solid var(--primary);
    text-align: center;
}

.circle_lower {
    border-radius: 50%;
    margin-left: -1px;
    left: 50%;
    width: 3px;
    height: 3px;
    top: 95%;
    position: absolute;
    background: black;
    border: 1px solid var(--primary);
    text-align: center;
}

.img-center {
    display: block;
    margin: auto;
}

.technology-style {
    width: 100%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title_small {
    letter-spacing: 2px;
    font-size: 10px;
    /* text-transform: uppercase; */
    text-align: left;
}

.testiment {
    font-size: 14px;
    letter-spacing: 2.2px;
    /* text-transform: uppercase; */
    text-align: left;
}

.punchline {
    font-size: 14px;
    letter-spacing: 2.2px;
    /* text-transform: uppercase; */
    text-align: left;
    color: var(--primary);
}

.title_medium {
    font-size: 14px;
    letter-spacing: 2.2px;
    /* text-transform: uppercase; */
    text-align: left;
}

.title_medium_weight_medium {
    font-size: 14px;
    letter-spacing: 2.2px;
    font-weight: 500;
    text-align: left;
}

.content_medium {
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    text-align: left;
    font-weight: 500;
}

.title_medium_large {
    font-size: 16px;
    letter-spacing: 2.2px;
    /* text-transform: uppercase; */
    text-align: left;
}

.title_large {
    color: var(--primary);
    letter-spacing: 1.8px;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
}

.title_extra_large {
    letter-spacing: 1.8px;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    /* text-transform: uppercase; */
    text-align: left;
}

.title_large.align-center {
    text-align: center;
}

.testimonials .item {
    padding-bottom: 0;
}

.csr .item {
    padding-bottom: 0;
}
.img-holion {
    zoom: 80%;
}

.img-holion-small {
    zoom: 40%;
}

.img-holion-medium {
    zoom: 140%;
}

.img-holion-large {
    zoom: 180%;
}

.textRegion {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-quotation-mark {
    min-height: 60px;
    max-height: 60px;
}

.img-full-width {
    min-width: -webkit-fill-available;
    max-width: 100%;
}

.img-full-height {
    min-height: -webkit-fill-available;
    max-height: 100%;
}
.contentful-image-box {
    position: relative;
}

.contentful-image-box-link {
    position: absolute;
    right: 0;
}

/* .contentful-image-box-link.short {
}

.contentful-image-box-link.shorter {
} */

.img-half-width {
    max-height: 200px;
}

.img-half-width-zoom {
    zoom: 60%;
}

.arrow-size {
    min-height: 60px;
    max-height: 60px;
}

.name-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.name-box .align-top {
    position: absolute;
    top: 0;
}

.name-fill {
    -webkit-box-flex: 100;
    -ms-flex-positive: 100;
    flex-grow: 100;
}

.frame-content-outer {
    position: relative;
    height: 512px;
    width: 410px;
}

 .frame-content-outer .inner-top.height {
    position: absolute;
    top: 50px;
    height: 412px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

.frame-content-outer .inner-top.width {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 309px;
    height: 50%;
    z-index: 2;
    transform: translateY(50%);
}

#heading-top {
    margin-top: 200px;
}

/* nav-bar -------------------------------------------- */



/* .no-js .menu__btn {
    display: none;
} */

/* button:not(:-moz-focusring):focus>.menu__btn-title {
    box-shadow: none;
}

*/
/* .navbar-default {
    border-bottom: #e22d30;
}

*/

.menu__list,
.submenu__list {
    list-style: none;
}

.menu__item {
    padding-left: 20px;
    padding-right: 20px;
}


/* .menu__item--active {
    color: #e22d30;
}

*/

element.style {
    padding-top: 20px;
}

.navbar-default .navbar-collapse {
    padding-top: 20px;
    padding-right: 0;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        padding-left: 0;
    }
}


/* .show .menu__link {
    padding-top: 5px;
} */
/* 
:focus>.menu__btn-title {
    box-shadow: inset 0 0 1px 3px #e22d30;
}

*/

.submenu__link {
    display: block;
    /* padding-top: 7px; */
    padding-bottom: 0px;
    line-height: 2em;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    color: #fff;
    /* background-color: #e22d30; */
    /* text-transform: uppercase; */
}


/* 
.submenu__list .menu__link span {
    background-color: #152d1d;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    padding-right: 10px;
} 



/* 
.menu__list .menu__item .submenu__list span {
    background: #2a2a2a;
} */

/* .menu__item.menu__dropdown input[type="checkbox"] {
    display: none;
} */
/* 
.menu__list .menu__item:focus-within>.submenu__list {
    visibility: visible;
    opacity: 1;
    display: block;
    left: auto;
    color: #fff;
} */

.menu__link:hover,
.submenu__link:hover {
    color: #fff;
}

.menu__link:focus
 {
    text-decoration: none;
}

.menu__link:hover
 {
    background-color: var(--primary-dark);
    text-decoration: none;
    color: #fff;
}

.menu__link[aria-expanded="true"]
 {
    background-color: var(--primary-dark);
    text-decoration: none;
    color: #fff;
}


.submenu__item:hover>a,
.menu__item:hover>a {
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;   
}

.navbar ul.dropdown-menu {
    margin-top: 27px;  
}

.navbar ul.dropdown-menu li {
    border-bottom: 0;
    padding: 0;
    text-transform: none;
    letter-spacing: normal;
}

.dropdown-menu > li > a {
    padding: 0;
    padding-left: 20px;
}

.submenu__text {
    background-color: var(--primary-dark);
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    margin-top: 0;
    /* margin-left: -48px; */
    font-size: large;
    /* left: auto */
    /* position: absolute;
    padding-top: 10px;
    left: 0; */
    /* width: max-content */
}

.js .menu__list {
    /* position: absolute; */
    z-index: 1;
    width: 100%;
    visibility: hidden;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    background-color: red;
}

.js .menu__list--active {
    visibility: visible;
    /* border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.menu__list--transition {
    transition: visibility 0.15s ease, transform 0.15s ease, -webkit-transform 0.15s ease;
}

.menu-holion-apple {
    display: none;

}


.dropdown-toggle::after {
    display: none;
}

.navbar-dark .navbar-nav .nav-link,
.navbar ul.dropdown-menu li a {
    color: #fff;
}

.navbar {
    position: fixed;
}

/*wide nav-bar */
@media screen and (min-width: 992px) {
    .menu__btn {
        display: none;
    }
        /* .menu__item:hover>a {
        background-color: var(--primary-dark);
        text-decoration: none;
    */

    .submenu__text {
        border-color: var(--bg-dark);
        border-style: solid;
        border-width: 1px;
    }    


    .navbar-nav .nav-link {
        padding-right: 20px;
        padding-left: 20px;
    }

    .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 26px;
        /* background-color: #e22d30; */
        /* text-transform: uppercase; */
    }

    .menu__link {
        margin-top: 30px;
        cursor: pointer;
        display: inline;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 500;
        color: #fff;
        border-color: var(--bg-dark);
        border-style: solid;
        border-width: 2px;
        /* background-color: #e22d30; */
        /* text-transform: uppercase; */
        width: 100px;
    }

    .menu__link .green {
        color: var(--primary);
    }

    .menu__list,
    .js .menu__list {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: none;
        flex-wrap: nowrap;
        visibility: visible;
        border: none;
        -webkit-transform: none;
        transform: none;
    }
    .hide_when_large {
        display: none;
    }

    .menu__list .menu__item .submenu__list {
        background: transparent;
        /* visibility: hidden; */
        /* opacity: 0; */
        position: absolute;
        /* left: -20px; */
        /* max-width: 15rem; */
        /* transition: all 0.5s ease; */
        display: none;
    }

    .submenu__list {
        padding-block-start: 25px;
    }
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

/*small nav-bar */
@media screen and (max-width: 991px) {
    /* .menu__item.menu__dropdown .drop-icon {
        position: absolute;
        right: 1rem;
        top: auto;
    */ 

    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
    }    

    .navbar ul.dropdown-menu {
        margin-top: 0;
    }
    .navbar ul.dropdown-menu li {
        padding-top: 0;
    }

    .dropdown-menu > li > a {
        padding-left: 0;
    }


    .menu__btn {
        font-size: 30px;
        /* border-color: #fff; */
        color: var(--primary);
        /* background: #fff; */
        padding: 4px;
        padding-right: 0 !important;
        margin-right: 0 !important;
    }

    .menu__btn .fa {
        padding-right: 0 !important;
        margin-right: 0 !important;
    }

    .menu__btn:hover,.menu__btn:focus {
        /* color: white; */
        background: none;
        box-shadow: none;
    }

    .navbar-default .navbar-collapse  {
        margin: 0;
        padding: 0;
    }
/* 
    .menu__item:hover>a {
        background-color: var(--primary-dark);
        text-decoration: none;
    */

    .submenu__link, .menu__link {
        text-align: center;
    } 

        /* .menu__item:hover>a {
        width: 100%;
        text-decoration: none;
        }
        
        */

    nav {
        min-width: 100%;
    }

    /* #nav-arrow-up:hover {
        display: block;
    }

    #nav-arrow-up {
        display: none;
    } */

    .menu__list {
        /* background-color: blue; */
        /* min-width: 70vw; */
        /* margin-left: -25%; */
        margin-bottom: 2px; 
        padding-left: 0;
        width: -webkit-fill-available;
    }

    .menu__item {
        background-color: var(--primary-dark);
        width: 100%;
        padding: 0px;
        margin: auto;
        border-color: var(--bg-dark);
        border-style: solid;
        border-width: 1px;
    }

    .submenu__item {
        border-color: var(--bg-dark);
        border-style: solid;
        border-width: 1px;
    }

    .submenu__list {
        padding-block-start: 0px;
        /* margin: 0; */
        padding: 0
    }
    /* .menu__item.menu__dropdown input[type="checkbox"]+.submenu__list {
        display: none;
    }
    .menu__item.menu__dropdown input[type="checkbox"]:checked+.submenu__list {
        border: none;
        padding-left: 20px;
        visibility: visible;
        opacity: 1;
        display: block;
        position: relative;
        max-width: 100%;
    } */
        /* .hide_when_small {
            display: none;
        } */
    
        .menu__list .menu__item .submenu__list {
        display: none;
        border-width: 0;
    }

    .menu__list .menu__item .submenu__list :active {
            display: block;
    }
    
.menu__link {
    /* margin-top: 30px; */
    cursor: pointer;
    display: flex;
    /* padding-top: 30px;
    padding-bottom: 22px;
    padding-left: 20px;
    padding-right: 20px; */
    font-weight: 500;
    color: #fff;
    /* background-color: #e22d30; */
    /* text-transform: uppercase; */
    width: auto;
    padding: 10px;
}

.menu__link.background-green {
    background-color: var(--primary);
    font-size: x-large;
}
   

.navbar-toggler[aria-expanded=false] .nav-bar-button-expanded {
    display: none;
  }
  .navbar-toggler[aria-expanded=true] .nav-bar-button-collapsed {
    display: none;
  }

.dropdown-toggle[aria-expanded=false] .show_when_folded {
display: none;
}
.dropdown-toggle[aria-expanded=true] .show_when_unfolded {
display: none;
}  



.submenu__text,
.submenu__text:hover {
    margin: 0px;
    background-color: var(--primary);
    width: 100%;
    text-align: center;
    color: white;
}

.submenu__link {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.submenu__text, .menu__text  {
    padding: 5px;
    width: 100%;
    justify-content: center;
}

.menu__text_arrow {
    padding-top: 5px;
    width: 26px;
    margin-right: 10px;
        margin-left: 10px;
} 

.menu__link.content-change-on-hoover:hover .show_on_hover {
    display: inline;
}

/* .navbar-collapse {
    background-color: transparent;
    min-height: calc(100vh - 80px);
}

*/

/* .navbar {
    background-color: var(--primary-dark-opaque);
} */

/* .nav-container {
    position: absolute;
} */

#navbarSupportedContent {
    position: relative;
}

.navbar-default {
    background-color: #000000a0;
}

.menu-holion-apple {
    display: block;
    position: absolute;
    bottom: 36px;
    right: 0;
}
        /* .menu__list .menu__item .submenu__list:active {
        visibility: visible;
        opacity: 1;
        display: block;
        left: auto;
    } */
    /* .menu__list .menu__item:hover>.submenu__list,
    .menu__list .menu__item:focus-within>.submenu__list,
    .menu__list .menu__item .submenu__list:hover,
    .menu__list .menu__item .submenu__list:focus {
       left: 20px; 
    }  */
    
}   


/* @media screen and (max-width: 620px) {
    .menu__item.menu__dropdown .drop-icon {
        position: absolute;
        right: 1rem;
        top: auto;
    }
     /* .menu__item.menu__dropdown input[type="checkbox"]+.submenu__list {
        display: none;
    }
     .menu__item.menu__dropdown input[type="checkbox"]:checked+.submenu__list {
        border: none;
        padding-left: 20px;
        visibility: visible;
        opacity: 1;
        display: block;
        position: relative;
        max-width: 100%;
    }  
    .hide_when_small {
        display: none;
    }

   
} */


/*# sourceMappingURL=styles.css.map */

/* .menu__link {
    border: none;
}

.submenu__list {
    left: 18px !important;
}

.dropdown-item {
    padding-inline: 0 !important;
} */