.esg-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 100%;
    gap: 30px;


    .esg-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        aspect-ratio: 3 / 4;
        background-color: lighten(#212529, 5%);
        background-color: white;
        transition: $ts;
        border-radius: $radius;

        @include desktop {
            &:hover {
                scale: 105%;
            }
        }

        .img-holion {
            width: 100%;
            opacity: 0;
            display: none;
        }

        .esg-img {
            position: absolute;
            margin: auto;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            width: 80%;
        }
    }
}

@include mobile {
    .esg-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .esg-grid {
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .esg-frame {
        aspect-ratio: 2 / 1 !important;
    }

    .esg-img {
        height: 80%;
        object-fit: contain;
    }
}