.esg-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 100%;
    gap: 30px;
    
        @media screen and (max-width: 991px) {
            gap: 20px;
        }

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }


    .esg-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        .img-holion {
            width: 100%;
        }

        .esg-img {
            position: absolute;
            margin: auto;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            width: 60%;
        }
    }
}