.show_on_hover.hoverText {
    background: rgba(darken($primary, 20%), .5);
    padding-left: 10px;
    top: 34px;
}

.footer-upper {
    height: 180px;
}

.footer-upper.small {
    height: 50px;
}

#footer-upper {
    background-color: black;
}
#footer-lower {
    background-color: #02261A;
}