.owl-buttons {
    position: absolute;
    top: 0 !important;
    margin-top: 400px;

    @media screen and (min-width: 1200px) {
        margin-top: 355px;
    }

    @media screen and (max-width: 992px) {
        display: none !important;
    }
}

.owl-buttons {
    position: absolute;
    top: 0 !important;
    margin-top: 360px;

    @media screen and (min-width: 1200px) {
        margin-top: 316px;
    }
}

@media screen and (min-width: 993px) {
    .owl-pagination {
        padding-bottom: 30px;
    }
}

.owl-buttons {
    display: none !important;
}