.menu__link {
    border: none;

    &:focus {
        outline: none;
    }
}

.submenu__list {
    left: 18px !important;

    .dropdown-item {
        padding-inline: 0 !important;
    }
}

@media screen and (min-width: 768px) {

}

// navbar mobile dropdown-menu
.navbar-collapse {
    @media screen and (min-width: 768px) {
        padding-inline: 0;
    }

    @media screen and (max-width: 768px) {
        padding-inline: 29px;
    }
}