.img-outer {
    position: relative;
    width: 100%;
    bottom: 0px;
}

.img-outer .img-inner {
    position: absolute;
    left: 40%;
}

@media screen and (min-width: 768px) {
    .img-outer {
        height: 360px;
    }
    .img-outer .img-inner {
        top: -10%;
        max-height: 110%;
    }
}

@media screen and (max-width: 767px) {
    .img-outer {
        height: 440px;
    }
    .img-outer .img-inner {
        top: 10%;
        max-height: 80%;
    }
}

.img-outer .img-inner.left-big {
    left: 51%;
}

.img-outer .img-inner.left {
    left: 43%;
}

.frame-content-outer .inner-top.height {
    height: 412px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

.frame-content-outer .inner-top.width {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 309px;
    height: 50%;
    z-index: 2;
    transform: translateY(50%);
}

.csr-items {
    background-color: #02261a;
    width: 100%;
}

.csr {
    padding: 0;
    margin-bottom: 40px;
}

.csr .item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.holion-border {
    border-width: 2px;
    border-color: #09bf80 !important;
    border-style: solid;
}

.frame-content-outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 512px;
    width: 410px;
}

// owl-carousel

@media screen and (min-width: 768px) {

    .owl-carousel .owl-controls .owl-buttons .owl-next,
    .owl-carousel .owl-controls .owl-buttons .owl-prev {
        color: #09bf80;
        background: none;
        font-size: 50px;
        top: 400px;
        left: 20%;
    }

    .owl-carousel .owl-controls .owl-buttons {
        top: 400px;
        left: 0;
        display: flex;
        justify-content: space-between;
        /* padding-left: 30px; */
    }
    
    .owl-carousel .owl-controls .owl-page.active span,
    .owl-theme .owl-controls .owl-page.active span,
    .owl-carousel .owl-controls.clickable .owl-page:hover span,
    .owl-theme .owl-controls.clickable .owl-page:hover span {
        background: #09bf80;
    }
}

@media screen and (max-width: 767px) {
    .owl-carousel .owl-controls .owl-page,
        .owl-theme .owl-controls .owl-page,
        .owl-carousel .owl-controls.clickable .owl-page:hover span,
        .owl-theme .owl-controls.clickable .owl-page:hover span {
        display: none !important;
    }

                .owl-carousel .owl-controls .owl-buttons .owl-prev,
                .owl-carousel .owl-controls .owl-buttons .owl-next {
        display: none;
    }

        .owl-carousel .owl-controls .owl-buttons {
    top: -55px;
    left: 80%;
    display: flex;
    }
}