.tilmeld-nyhedsbrev {
    input[type="text"] {
        width: 100%;
        padding: 10px 20px;
        border-radius: $radius;
        border: none;
        background-color: rgba(white, .2);
        border: 1px solid rgba(white, .2);
        color: white;
        margin-bottom: 30px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: rgba(white, .6);
        }
    }

    button {
        margin-bottom: 20px;
        padding: 10px 20px;
        width: 100%;
        border-radius: $radius;
        border: none;
        background-color: $primary;
        color: white;

        &:hover {
            background-color: darken($primary, 10%);
        }
    }
}

.tilmeld-nyhedsbrev-section {
    display: flex;
    gap: 250px;

    img {
        width: 30%;
        object-fit: contain;
    }

    @media screen and (max-width: 1199px) {
        gap: 150px;
    }

    @include mobile {
        flex-direction: column;
        gap: 50px;

        img {
            width: 100%;
            max-height: 75vh;
        }
    }
}

.tilmeld-nyhedsbrev {
    ._x00396840,
    ._x27757731,
    ._button-wrapper {
        opacity: 0;
        pointer-events: none;
        transition: .5s;
        max-height: 0%;
        max-height: 1px;
        overflow: hidden;

        &.visible {
            opacity: 1;
            pointer-events: auto;
            max-height: 124px;
        }
    }
}