.mainWrapper {
    margin-top: 80px;

    .visitkortHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;

        h1 {
            font-size: 40px;
            width: 100%;
            text-align: center;
            padding-inline: 30px;

            @media screen and (max-width: 768px) {
                font-size: 30px;
            }
        }


        #typewriter {
            text-align: center !important;
            font-weight: bold;
            font-size: 40px;
            color: $primary;


            @media screen and (max-width: 768px) {
                font-size: 30px;
            }

            &::after {
                content: '|';
                display: inline-block;
                vertical-align: top;
                font-weight: 100;
                color: white;
                scale: 150%;
            }
        }

    }

    img {
        position: fixed;
        top: 80px;
        width: 100%;
        // max-height: 500px;
        height: 500px;
        opacity: .5;
        object-fit: cover;
        z-index: -1;
    }
}

.greenBoxes {
background-color: black;
    padding-block: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-inline: 30px;

    @media screen and (max-width: 768px) {
        gap: 15px;
        padding-inline: 15px;
    }

    >* {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $primary;
        width: 50%;
        max-width: 300px;
        aspect-ratio: 1 / 1;
        transition: $ts;
        cursor: pointer;
        font-size: 36px;
        font-weight: bold;
        padding: 30px;
        text-align: center;

        @media screen and (max-width: 768px) {
            font-size: 24px;
        }

        a {
            color: white !important;
            text-decoration: none;
        }

        i {
            bottom: 10px;
            right: 20px;
            color: $primary;
            transition: $ts;
        }


        &:hover {
            background-color: $primary;

            i {
                color: white;
            }
        }
    }
}

*:has(.mainWrapper) {
    #footer-upper {
        margin: 0 !important;
        padding-block: 30px;
        background-color: black;
    }
}