// @import 'old';
@import 'navbar';
@import 'forside';

.hover-box.same-size-box.content-change-on-hoover {
    .d-flex.flex-column {
        padding: 30px;
    }
}

.container.py-5 {
    position: relative;
}

.btn-primary.my-3 {
    position: absolute;
    bottom: 0;
    left: 0%;
    right: 0%;
    margin: auto;
}


.owl-buttons {
    position: absolute;
    top: 0 !important;
    margin-top: 400px;

    @media screen and (min-width: 1200px) {
        margin-top: 355px;
    }
}