@import 'variables';
@import 'old';
@import 'navbar';
@import 'forside';
@import 'contact';
@import '404';
@import 'esg';
@import 'footer';

$primary: #65bd84;

.hover-box.same-size-box.content-change-on-hoover {
    .d-flex.flex-column {
        padding: 30px;
    }
}

.container.py-5 {
    position: relative;
}

.btn-primary.my-3 {
    position: absolute;
    bottom: 0;
    left: 0%;
    right: 0%;
    margin: auto;
}




.col-md-3.m-auto {
    margin-top: 20px !important;
}

// #content {
//     min-height: calc(100vh - 320px);
// }

.scroll-to-top {
    background-color: $primary;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    bottom: 30px;
    // left: 0%;
    // right: 0%;
    // margin: auto;
    right: 30px;
    width: 50px;
    aspect-ratio: 1 / 1;
    border: none;
    opacity: 0;
    pointer-events: none;

    span {
        // border-radius: 2px;
        width: 12px;
        height: 12px;
        border-top: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(-45deg);
        margin-top: 5px;
    }

    @media screen and (max-width: 768px) {
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.nav-bar-button-expanded {
    scale: 120%;
}


.row.text-md-center {
    p {
        text-align: center;
    }
}