@import 'variables';
@import 'old';
@import 'navbar';
@import 'frontpage';
@import 'contact';
@import '404';
@import 'esg';
@import 'footer';
@import 'visitkort';
@import 'popup';
@import 'ledige-stillinger';
@import 'tilmeld-nyhedsbrev';
@import 'e-bog';

$primary: #65bd84;

.hover-box.same-size-box.content-change-on-hoover {
    .d-flex.flex-column {
        padding: 30px;
    }
}

.container.py-5 {
    position: relative;
}

.btn-primary.my-3 {
    position: absolute;
    bottom: 0;
    left: 0%;
    right: 0%;
    margin: auto;
}




.col-md-3.m-auto {
    margin-top: 20px !important;
}

// #content {
//     min-height: calc(100vh - 320px);
// }

.scroll-to-top {
    background-color: $primary;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    bottom: 30px;
    // left: 0%;
    // right: 0%;
    // margin: auto;
    right: 30px;
    width: 50px;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: $radius;
    opacity: 0;
    pointer-events: none;

    span {
        // border-radius: 2px;
        width: 12px;
        height: 12px;
        border-top: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(-45deg);
        margin-top: 5px;
    }

    @media screen and (max-width: 768px) {
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.nav-bar-button-expanded {
    scale: 120%;
}


.row.text-md-center {
    p {
        text-align: center;
    }
}

.black-box {
    background-color: black;
}

.checkbox.mb-3 {
    display: none;
}

#content .container img:not(.esg-grid img, footer img) {
    border-radius: $radius * 2;
}

a.btn,
.service-box,
iframe,
.hover-box {
    border-radius: $radius;
}
.hover-box {
    border-radius: $radius * 4;
}

.contentful-image-box img {
    object-fit: cover;
}