.popup-hidden {
    opacity: 0;
    left: -400px !important;
    pointer-events: none;
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    height: 600px;
    width: fit-content;
    background-color: white;
    z-index: 100000;
    transition: .3s;
    overflow: scroll;

    .popup-whitebox {
        width: 600px;
        height: 100%;
    }

    .popup-header svg {
        width: 425px;
        height: 100%;
    }

    .close-popup svg {
        fill: black;
    }

    @media screen and (max-width: 900px) {
        width: calc(100% - 40px);
        .popup-header {
            display: none;
        }
        h5, p {
            text-align: center;
        }
        .popup-checkbox {
            input {
                width: fit-content;
                margin-right: 15px;
            }
        }
        justify-content: center;
    }

    .close-popup {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        padding: 10px;
        cursor: pointer;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 100%;
        color: black;

        &:last-child {
            padding: 30px;
        }
    }

    form {
        width: 100%;
        padding: 0;
    }

    ._form-thank-you,
    ._form-branding {
        display: none;
    }
}