<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    {{ partial "bodytop.html" . }}
    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>

        <div id="content">

            <div class="col-md-12 header-distance">
                <div class="container pb-5">
                    <div class="d-flex e-bog-header">
                        <div>
                            <h2 class="holion_main_color">E-BOG</h2>
                            <h1 class="holion-title-page m-0">7 fejl du begår, når du overvejer en app</h1>
                            <h2 class="my-3" style="font-weight: 300;">
                                Kom rigtigt fra start med din app, og undgå de dyre opstartsfejl.
                                Denne e-bog giver dig 7 konkrete råd til, hvordan du kommer godt i gang med din app.
                                <br><br>
                                <b style="font-weight: 700;">Tilmeld dig vores nyhedsbrev og få tilsendt e-bogen.</b>
                            </h2>
                            <div class="nyhedsbrev-form">
                                <form method="POST" action="https://holion.activehosted.com/proc.php" id="_form_3_"
                                    class="_form _form_3 _inline-form  _dark" novalidate data-styles-version="5">
                                    <input type="hidden" name="u" value="3" />
                                    <input type="hidden" name="f" value="3" />
                                    <input type="hidden" name="s" />
                                    <input type="hidden" name="c" value="0" />
                                    <input type="hidden" name="m" value="0" />
                                    <input type="hidden" name="act" value="sub" />
                                    <input type="hidden" name="v" value="2" />
                                    <input type="hidden" name="or" value="20cf04ae-658e-40a3-96b5-d4424d949adb" />
                                    <div class="_form-content">
                                        <div class="_form_element _x02321309 _full_width ">
                                            <label for="firstname" class="_form-label">
                                                Fornavn
                                            </label>
                                            <div class="_field-wrapper">
                                                <input type="text" id="firstname" name="firstname" required />
                                            </div>
                                        </div>
                                        <div class="_form_element _x46688109 _full_width ">
                                            <label for="email" class="_form-label">
                                                E-mail adresse
                                            </label>
                                            <div class="_field-wrapper">
                                                <input type="text" id="email" name="email" required />
                                            </div>
                                        </div>
                                        <p>Når du tilmelder dig vores nyhedsbrev, accepterer du <a href="/privatlivspolitik"
                                                target="_blank">Holions privatlivspolitik</a></p>
                                        <div class="_button-wrapper _full_width">
                                            <button id="_form_3_submit" class="_submit" type="submit">
                                                Ja tak, send mig e-bogen og tilmeld mig nyhedsbrevet
                                            </button>
                                            <p style="font-size: 90%; margin-top: 10px;">Du kan altid afmelde dig nyhedsbrevet igen.</p>
                                        </div>
                                        <div class="_clear-element">
                                        </div>
                                    </div>
                                    <div class="_form-thank-you" style="display:none;">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div><img
                                src="https://images.ctfassets.net/pae07rsu8v0z/4SqOeI6HdEbzqNSGwIs77j/d681f2f05dedf24818a8cb8d290fc5e5/E-bog_mockup_-_7_fejl_du_bega_r_na_r_du_overvejer_en_app.png"
                                alt="E-bog mockup - 7 fejl du begår når du overvejer en app"></div>
                    </div>
                </div>
                <div class="container">

                </div>
            </div>

            <div class="container">
                <div class="e-bog-feature-section">
                    <div>
                        <img src="https://images.ctfassets.net/pae07rsu8v0z/4z2OYcNhUxg8OPbnml1nKi/90f75e4d745c0d13798dde6e73066ffd/Indledning_preview_-_7_fejl_du_bega_r_na_r_du_overvejer_en_app.png"
                            alt="Indledning preview - 7 fejl du begår når du overvejer en app">
                    </div>
                    <div>
                        <div class="my-3">
                            <b class="e-bog-feature-section-title"> Det får du i denne e-bog</b>
                            <br><br>
                            Denne e-bog har fokus på 7 klassiske fejl, som mange begår, når de overvejer en app.
                            Heldigvis er der også løsningsforslag til, hvordan man undgår at begå fejlene.
                            <br><br>
                            Find bl.a. ud af, hvorfor du ikke skal slå for stort et (app-)brød op, hvad der gemmer sig
                            af guldkorn i brugernes feedback, hvorfor man ikke kan sammenligne appudvikling med at bygge
                            en webshop og meget mere i denne e-bog.
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="e-bog-feature-section e-bog-feature-section-reverse">
                    <div>
                        <img src="https://images.ctfassets.net/pae07rsu8v0z/1e5oM1Y1Ng9RvGCXrSoHeb/766a20bbcc1065d55ac622a9758d228e/Fejl_2_preview_-_7_fejl_du_bega_r_na_r_du_overvejer_en_app.png"
                            alt="Fejl 2 preview - 7 fejl du begår når du overvejer en app">
                    </div>
                    <div>
                        <div class="my-3">
                            <b class="e-bog-feature-section-title">Yikes, jeg begår da ikke så mange fejl!</b>
                            <br><br>
                            E-bogen her har ikke fokus på fejl, man kan sætte en rød streg under. Det er nærmere fejl,
                            der opstår af ren begejstring, og derfor er det meget sandsynligt, at du er på vej ud i en
                            eller flere af fejlene.
                            <br><br>
                            Det kan også være, at du ikke er helt klar til at få udviklet din app endnu, og så er denne
                            e-bog et rigtig godt værktøj til dig, der gerne vil forberede dig på hele app udviklings
                            processen. Og måske eliminere nogle af de klassiske fejl på forhånd.
                        </div>
                    </div>
                </div>
            </div>

            <div class="green-box">
                <div class="container py-5">
                    <h2 class="holion-title-section holion_main_color my-3">FAQ om e-bogen</h2>
                    <!-- Test -->
                    <div class="ledige-stillinger-steps">
                        <div class="ledige-stillinger-step">
                            <span>1</span>
                            <b>Koster e-bogen noget?</b>
                            <p>
                                E-bogen koster lige nøjagtig 0 kr.
                                <br>
                                Til gengæld er det et krav, at du tilmelder dig Holions nyhedsbrev for at få tilsendt
                                e-bogen. Når du har tilmeldt dig nyhedsbrevet, får du tilsendt e-bogen lige med det
                                samme. Du kan selvfølgelig altid afmelde dig nyhedsbrevet igen.
                            </p>
                        </div>
                        <div class="ledige-stillinger-step">
                            <span>2</span>
                            <b>Hvad kan jeg forvente af Holions nyhedsbrev?</b>
                            <p>
                                Når du tilmelder dig Holions nyhedsbrev, modtager du til start 4 emails (1 i ugen), der
                                er skræddersyet til dig, der er interesseret i app udvikling. Målet med de 4 emails er
                                at klæde dig bedst muligt på til, når du skal have udviklet din app. Ud over e-bogen,
                                fortæller vi blandt andet om processen fra idé til app, og så giver vi dig 9 konkrete
                                spørgsmål, som du kan stille en potentiel app udvikler.
                                <br><br>
                                Efter de 4 mails, overgår du til vores normale månedsnyhedsbrev. Her sender vi én mail i
                                måneden, hvor vi stiller skarpt på aktuelle nyheder (altså indenfor vores felt), gode
                                råd og andre ting, der er værd at vide om IT- og app udvikling.
                            </p>
                        </div>
                        <div class="ledige-stillinger-step">
                            <span>3</span>
                            <b>Bliver e-bogen holdt opdateret?</b>
                            <p>
                                Mange af de fejl og løsninger, der er beskrevet i e-bogen, holder sig aktuelle år efter
                                år. Vi sørger dog for, 1 gang om året, at opdatere e-bogen med tidsaktuelle emner og
                                indhold.
                                <br><br>
                                Når du er tilmeldt vores nyhedsbrev, får du automatisk tilsendt den nyeste version af
                                e-bogen, når vi opdaterer den. Du kan altid se, hvilken version du har, i øverste
                                venstre hjørne på forsiden af e-bogen.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {{ partial "footer.html" . }}

        </div>
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

    <script defer>
        document.addEventListener('copy', function (e) {
            var copiedText = window.getSelection().toString();
            if (copiedText.includes('job@holion.dk')) {
                // Push a data layer event
                window.dataLayer = window.dataLayer || [];
                window.dataLayer.push({
                    'event': 'emailLinkCopied'
                });
            }
        });
    </script>

    <script src="/js/nyhedsbrev.js" defer></script>
</body>

</html>