<div class="case-outer mt-4">
    <div class="case-inner-header d-none d-sm-block m-2">
        <img class="img-full-width" src="{{ .Params.imgHeader }}">
    </div>
    <div class="case-inner-name d-none d-sm-block" style="background-color: {{ .Params.color }}; ">
        <div class="case-img-logo-outer">
            <img src=" /img/testimonials/{{ .Params.companyLogo }} " class="logo-inner">
        </div>
    </div>
    <div class="case-inner d-none d-sm-block ">
        <img class="img-half-width-zoom" src="{{ .Params.img }} ">
    </div>
</div>