<section class="case">
    <div style="background-color: {{ .Params.color }}; height: 120px; position: relative; cursor: pointer" onclick="location.href='/cases/{{.Params.link}}'">
        <img src="/img/testimonials/{{ .Params.companyLogo }}" class="img-responsive img-centered" style="max-height: 80%; max-width: 40%; top: 0; bottom: 0; left: 0; right: 0; margin: auto; position: absolute">
    </div>
    <div style="width: 520px; float: left; text-align: center; margin-top: 20px" class="hidden-xs hidden-sm">
        <a href="{{.Params.link}}">
            <img src="{{.Params.img}}" style="width: 510px">
        </a>
    </div>
    <div style="margin: 20px; margin-top: 40px">
        <h3>{{.Params.header}}</h3>
        <p class="description">{{.Params.casedescription | markdownify}}</p>
        <a href="/cases/{{.Params.link}}" class="btn btn-small btn-template-main">Læs mere</a>
    </div>
</section>