{{ $currentPageUrl := .Params.contentUrl }}
{{ $currentPage := .Site.Params }}

{{ range .Site.Data.contactSection }}
{{ if eq .url $currentPageUrl }}

<div class="container pt-5 pb-md-2 pb-xl-5" id="contact">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>

    <h2 class="holion-title-section holion_main_color my-3 d-none d-md-block">{{ .title }}</h2>
    <h2 class="holion-title-section holion_main_color my-3 d-md-none">{{ .titleMobile }}</h2>
    {{ if .content }}
    <div class="my-3 mb-5">{{ .content | markdownify }}</div>
    {{end}}
    <div class="row">
        <div {{ if eq $currentPageUrl "kontakt" }} class="col-md-7 me-md-5 order-2 order-md-1" {{else}}
            class="col-md-7 me-md-5 d-none d-md-block" {{end}}>
            <section>
                <div id="contact-message"></div>

                <form id="contact-form" class="contact-form-ajax" action="{{ $currentPage.mailService }}" method="POST">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">{{ i18n "contactName" }}</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="email">{{ i18n "contactMail" }}</label>
                                <input type="text" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="phone">Dit telefonnummer</label>
                                <input type="text" class="form-control" name="phone" id="phone">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="message">{{ i18n "contactMessage" }}</label>
                                <textarea id="message" class="form-control" name="message" rows="12"
                                    required></textarea>
                            </div>
                        </div>

                        <div class="checkbox mb-3">
                            <!-- The following line controls and configures the Turnstile widget. -->
                            <div class="cf-turnstile" data-sitekey="0x4AAAAAAALaNIsm4WRGlrLv" data-theme="light"></div>
                            <!-- end. -->
                        </div>
                        
                        <div class="col-sm-12 text-center mt-2 holion_main_color">
                            <a href="{{$currentPage.privatePolicyLink}}">{{$currentPage.privatePolicy}}</a>
                        </div>

                        <div class="col-sm-12 text-center mt-4">
                            <button type="submit" class="btn btn-contact form-control">{{ i18n
                                "contactSend" }}</button>
                            
                        </div>
                    </div>
                    <!-- /.row -->
                </form>

            </section>

        </div>

        <div class="col-md-4 holion-top-text d-none d-md-block order-1">
            <section>
                <div class="my-3" {{ if .showAdress }} style="max-width: 250px" {{ end }}}>
                    {{ if .showAdress }}
                    {{ partial "contentful-image.html" (dict "content" . "class" "shorter") }}
                    {{ else }}
                    {{ partial "contentful-image.html" (dict "content" . "class" "short") }}
                    {{ end }}
                </div>
                <div class="holion_main_color">
                    {{ .contactName }}
                </div>
                <div style="font-style: italic;">
                    <div>{{ .contactFrase | markdownify }}</div>
                </div>
                </section>
                <section>
                    <div class="holion-title-section holion_main_color my-3">{{ i18n
                        "contactTitle" }}</div>
                <div style="display: table">
                    <div style="display: table-row">
                        <p style="display: table-cell">
                            Telefon:&nbsp;&nbsp;&nbsp;
                        </p>
                        <p style="display: table-cell">
                            <a href="tel:+4582303420">82 30 34 20</a>
                        </p>
                    </div>
                    <div style="display: table-row">
                        <p style="display: table-cell">
                            E-mail:&nbsp;
                        </p>
                        <p style="display: table-cell">
                            <a href="mailto:info@holion.dk">info@holion.dk</a>
                        </p>
                    </div>
                </div>
            </section>

            {{ if .showAdress }}
            <div class="white-link">
                <div class="holion-title-section holion_main_color my-3">{{ i18n
                    "contactAddrTitle" }}</div>
                {{$currentPage.companyName}}
                <a class="white-link " target="_blank"
                    href="https://www.google.com/maps/place/Vesselbjergvej+3,+8370+Hadsten/@56.3287242,10.0482798,18z/data=!3m1!4b1!4m5!3m4!1s0x464c10835d66c501:0xaeffd73d6b489156!8m2!3d56.3287242!4d10.0489197?hl=da">
                {{ $currentPage.address | safeHTML }}
                </a>
            <br>
            <div class>
                {{$currentPage.companyCvr}}
            </div>
            </div>
            {{ end }}
        </div>
        <div class="d-md-none">
            <div class="contact-outer-div-mobile">
                <div class="my-3 contact-inner-mobile-image">
                    {{ partial "contentful-image.html" (dict "content" . "class" "shorter") }}
                </div>
            <a href="tel:+45{{.tlf}}">
                <div class="contact-inner-mobile-info">
                    <div class="holion_main_color" style="font-weight: bold;">
                        {{ .contactName }}
                    </div>
                    <div style="line-height: 12px; margin-top:8px;" class="white_text_color">{{ .contactFraseMobile | markdownify }}</div>
                </div>
            </a>
            </div>
            {{ if eq .showAdress false}}
                {{ partial "button-link.html" (dict "link" "/kontakt/" "text" "Kontakt os" "buttontype" "btn-primary" )}}
            {{ end }}
        </div>

    </div>

</div>
{{ end }}
{{ end }}
<script defer>
    document.addEventListener('DOMContentLoaded', function() {
      var emailInput = document.querySelector('#email');
      var nameInput = document.querySelector('#name');
      var phoneInput = document.querySelector('#phone');
    
      emailInput.addEventListener('change', function() {
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          'event': 'gtm.click',
          'email': {
            'email_address': this.value.toLowerCase().trim()
          }
        });
      });
    
      nameInput.addEventListener('change', function() {
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          'event': 'gtm.click',
          'first_name': this.value.toLowerCase().trim()
        });
      });
    
      phoneInput.addEventListener('change', function() {
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          'event': 'gtm.click',
          'phone_number': this.value.toLowerCase().trim()
        });
      });
    });
</script>
