{{ $showLink := false }}
{{ if (isset .content "email") | or (isset .content "tlf") | or (isset .content "linkedIn") }}
{{ $showLink = true }}
{{ end }}

<div class="contentful-image-box">
    {{ if $showLink }}
    <div class="contentful-image-box-link {{.class}}">
        <div class="">
            {{ if (isset .content "email") | or (eq .content.email "") }}
            {{ partial "soMe.html" (dict "icon" "fa-envelope-o" "link" .content.email )}}
            {{ end }}
            {{ if (isset .content "tlf") | or (eq .content.tlf "") }}
            {{ partial "tlf.html" (dict "icon" "fa-phone" "link" .content.tlf )}}
            {{ end }}
            {{ if (isset .content "linkedIn") | or (eq .content.linkedIn "") }}
            {{ partial "soMe.html" (dict "icon" "fa-linkedin" "link" .content.linkedIn )}}
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ with .content.image }} {{ if isset . "url" }}
    <img class="img-full-width m-0 p-0" src="{{ .url }}" />
    {{ end }} {{ end }}
</div>