{{ $currentPageUrl := .Params.contentUrl }}
{{ $currentPage := .Site.Params }}

{{ range .Site.Data.contactSection }}
{{ if eq .url $currentPageUrl }}

<div class="container py-5" id="contact">
    <div class="holion-title-section holion_main_color my-3">{{ .title }}</div>
    <div class="row">
        <div class="col-md-7 me-md-5">

            <section>
                <form id="contact-form" class="contact-form-ajax" action="{{ .Site.Params.mailService }}" method="POST">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">{{ i18n "contactName" }}</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="email">{{ i18n "contactMail" }}</label>
                                <input type="text" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="phone">Dit telefonnummer</label>
                                <input type="text" class="form-control" name="phone" id="phone">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Robottjek! Hvad er 2 + 2?</label>
                                <span id="magicValueRequired" style="display: none; color: red"><br />Du skal svare
                                    korrekt på dette spørgsmål.</span>
                                <input type="text" class="form-control" name="magicValue" id="magicValue" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="message">{{ i18n "contactMessage" }}</label>
                                <textarea id="message" class="form-control" name="message" rows="12"
                                    required></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center mt-4">
                            <button type="submit" class="btn btn-contact form-control">{{ i18n
                                "contactSend" }}</button>
                            
                        </div>
                        <div class="col-sm-12 text-center mt-2 holion_main_color" style="text-decoration: underline;">
                            <a href="{{$currentPage.privatePolicyLink}}">{{$currentPage.privatePolicy}}</a>
                        </div>

                    </div>
                    <!-- /.row -->
                </form>

            </section>

        </div>

        <div class="col-md-4 holion-top-text">
            <section>
                <div class="my-3">
                    {{ partial "contentful-image.html" . }}
                </div>
                <div class="holion_main_color">
                    {{ .contactName }}
                </div>
                <div style="font-style: italic;">
                    {{ .contactFrase }}
                </div>
                </section>
                <section>
                    <div class="holion-title-section holion_main_color my-3">{{ i18n
                        "contactTitle" }}</div>
                <div style="display: table">
                    <div class="holion_main_color" style="display: table-row">
                        <p style="display: table-cell">
                            Telefon:&nbsp;&nbsp;&nbsp;
                        </p>
                        <p class="white-link" style="display: table-cell">
                            <a href="tel:+4561303039">61 30 30 39</a>
                        </p>
                    </div>
                    <div class="holion_main_color" style="display: table-row">
                        <p style="display: table-cell">
                            E-mail:&nbsp;
                        </p>
                        <p class="white-link" style="display: table-cell">
                            <a href="mailto:info@holion.dk">info@holion.dk</a>
                        </p>
                    </div>
                </div>
            </section>

            {{ if .showAdress }}
            <div class="white-link">
                <div class="holion-title-section holion_main_color my-3">{{ i18n
                    "contactAddrTitle" }}</div>
                {{$currentPage.companyName}}
                <a
                    href="https://www.google.com/maps/place/Vesselbjergvej+3,+8370+Hadsten/@56.3287242,10.0482798,18z/data=!3m1!4b1!4m5!3m4!1s0x464c10835d66c501:0xaeffd73d6b489156!8m2!3d56.3287242!4d10.0489197?hl=da">
                {{ $currentPage.address | safeHTML }}
                </a>
            <br>
            {{$currentPage.companyCvr}}
            </div>
            {{ end }}

            {{/* <section>
                <h3 class="text-uppercase">Sociale medier</h3>
                <a href="https://www.linkedin.com/company/holion/"><img src="/img/LinkedIn-logo.png" alt="LinkedIn logo"
                        style="max-width: 100px"></a>
            </section> */}}
        </div>

    </div>
    <!-- /.row -->
</div>
{{ end }}
{{ end }}

{{/* {{ partial "map.html" . }} */}}