{{ $currentPageUrl := .Params.contentUrl }}
{{ $currentPage := .Site.Params }}
{{ $i := 0 }}

{{ if isset .Site.Params "features" }} {{ if .Site.Params.features.enable }} {{ if gt (len .Site.Data.features) 0 }}
<div class="green-box pt-5">
    <div class="container">
        <div class="row d-none d-md-block">
            <div class="col-md-12">
                {{ range .Site.Data.specialSection }}
                {{ if and (eq .url $currentPageUrl) (eq .tag "features") }}
                <h2 class="holion-title-section holion_main_color my-3">{{ .title }}</h2>
                <div class="my-3 mb-5">{{ .content | markdownify }}</div>
                {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-center">
                {{ range $index, $element := sort .Site.Data.features "weight" }}
                {{/* <div class="col-md-4 col-sm-12 mt-3 mb-5"> */}}
                    <div class="square-box mb-5">
                    <a href="{{ $element.link }}">
                        <div class="hover-box holion-border holion-title-section">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row justify-content-center">
                                <div class="white_text_color">{{ $element.name }}</div>
                                </div>
                                <i class="mt-auto ml-auto fa fa-long-arrow-right"></i>
                                {{/* <img style="width: 60px; align-items: right;" src="/img/layout/arrow-right.svg" /> */}}
                            </div>
                        </div>
                        </a>
                </div>
                {{ end }}
            </div>
        </div>

    </div>
</div>

{{ end }} {{ end }} {{ end }}