{{ $currentPageUrl := .Params.contentUrl }}
{{ $currentPage := .Site.Params }}
{{ $i := 0 }}

{{ if isset .Site.Params "features" }} {{ if .Site.Params.features.enable }} {{ if gt (len .Site.Data.features) 0 }}
<div class="green-box pt-5 pb-5">
    <div class="container">
        <div class="row d-none d-md-block">
            <div class="col-md-12">
                {{ range .Site.Data.specialSection }}
                {{ if and (eq .url $currentPageUrl) (eq .tag "features") }}
                <h2 class="holion-title-section holion_main_color my-3">{{ .title }}</h2>
                <div class="my-3 mb-5">{{ .content | markdownify }}</div>
                {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                <div class="d-flex justify-content-evenly">
                    {{ range $index, $element := sort .Site.Data.features "weight" }}
                        <a href="{{ $element.link }}" class="container-square holion-border holion-title-section">
                            <div class="container-inner-text white_text_color">{{ $element.name }}</div>
                            <i class="container-inner-arrow fa fa-long-arrow-right"></i>
                        </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }} {{ end }} {{ end }}