<footer class="d-none d-lg-block"> {{/* hide on screens smaller than md */}}
    <div id="footer-upper">
        <div class="container">
            <div class="footer footer-upper">
                <div class="footer-position position-right mb-5">
                    <a href="/">
                        <img src="{{ .Site.Params.logo }}" alt="{{ .Title }} logo" style="width: 150px">
                    </a>
                </div>
            </div>
            </div>
    </div>
    <div id="footer-lower">
        <div class="container">
            <div class="footer footer-lower">
                <div class="footer-position position-left">
                    <a href="/esg/">
                        <div class="mt-2 content-change-on-hoover footer-apple">
                            <img class="img-holion-medium" src="/img/layout/holion-circle.svg" />
                            <div class="show_on_hover hoverText">
                                <p>Læs mere om vores bæredygtige indsats</p>
                            </div>
                            </div>
                            </a>
                </div>
                <div class="footer-position position-center">
                    <div class="d-flex flex-column">
                        
                    <div class="d-flex justify-content-center">
                        {{ partial "soMe.html" (dict "icon" "fa-linkedin" "link" "https://www.linkedin.com/company/holion/" )}}
                        {{ partial "soMe.html" (dict "icon" "fa-youtube-play" "link" "https://www.youtube.com/@holion" )}}
                        {{ partial "soMe.html" (dict "icon" "fa-instagram" "link" "https://www.instagram.com/holion_aps/" )}}
                        {{ partial "soMe.html" (dict "icon" "fa-facebook" "link" "https://www.facebook.com/HolionApS/" )}}
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/privatlivspolitik">Læs vores privatlivspolitik</a>
                    </div>
                    </div>
                </div>
                <div class="footer-position position-right title_medium_weight_medium">
                    {{.Site.Params.companyName}} {{ .Site.Params.address | safeHTML }} <br> Tlf: <a href="tel:+4582303420">82 30 34 20</a> <br> CVR: 36 08 60 09
                    <div class="kontact-background white_text_color"></div>
                </div>
            </div>

        </div>
    </div>

</footer>

<div class="d-lg-none mt-5 mb-3" id="footer-upper">
    <div class="container">
        <div class="footer footer-upper small">
            <div class="d-flex justify-content-center">
                {{ partial "soMe.html" (dict "icon" "fa-linkedin" "link" "https://www.linkedin.com/company/holion/" )}}
                {{ partial "soMe.html" (dict "icon" "fa-youtube-play" "link" "https://www.youtube.com/@holion" )}}
                {{ partial "soMe.html" (dict "icon" "fa-instagram" "link" "https://www.instagram.com/holion_aps/" )}}
                {{ partial "soMe.html" (dict "icon" "fa-facebook" "link" "https://www.facebook.com/HolionApS/" )}}
            </div>
        </div>
    </div>
</div>
<footer class="d-lg-none" id="footer-small"> {{/* hide on screens wider than md */}}
    <div class="container">
        <div class="footer footer-small">
            <div class="footer-position position-left title_medium_weight_medium mb-3">

                    {{.Site.Params.companyName}} {{ .Site.Params.address | safeHTML }} <br> Telefon: <a href="tel:+4582303420">82 30 34
                        20</a> <br> {{ .Site.Params.companyCvr | safeHTML }}
                    </div>
            <div class="footer-position position-right title_medium_weight_medium white-link mb-3">
                <a href="/esg/">
                    <img class="img-holion-medium" src="/img/layout/holion-circle.svg" />
                </a>
            </div>
            <div class="footer-position position-bottom title_small">
                <a href="/privatlivspolitik">Læs vores privatlivspolitik</a>
            </div>
        </div>


    </div>

</footer>
