<footer id="footer">
    <div class="container">
        {{ if isset .Site.Params "about_us" }}
        <div class="footer footer-upper">
            <div class="footer-position position-left">
                <img class="img-holion-small" src="/img/layout/holion-logo.svg" />
                <div class="title_small mt-4">
                    {{ .Site.Params.about_us | safeHTML }}
                    <span class="holion_main_color"> {{ .Site.Params.punchline | markdownify }}</span>
                </div>
            </div>
            <div class="footer-position position-right title_small">
                <img src="/img/layout/circle-arrow.svg" /> Gå til toppen
            </div>
        </div>
        {{ end }} {{ if isset .Site.Params "address" }}
        <div class="footer footer-lower">
            <div class="footer-position position-left">
                <img src="/img/layout/denmarks-trees.svg" />
            </div>
            <div class="footer-position position-center">
                <img class="position-center" src="/img/layout/gazelle.svg" />
            </div>
            <div class="footer-position position-right title_medium_weight_medium">
                {{.Site.Params.companyName}} {{ .Site.Params.address | safeHTML }} <br> Mobil: <a href="tel:+4561303039">61 30 30 39</a> <br> CVR: 36 08 60 09
                <div class="kontact-background"> <a href="/kontakt">kontakt</a></div>
            </div>
        </div>
        {{ end }}

    </div>
    <!-- /.container -->
</footer>

<!-- <div id="static">
    <div class="hidden-xs">
        mail: <a href="mailto:info@holion.dk">info@holion.dk</a> &bull; telefon: <a href="tel:+4561303039">61 30 30 39</a>
    </div>
    <div class="visible-xs">
        <a href="tel:+4561303039">Ring til os</a>
    </div>
</div> -->

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function() {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5e46a503a89cda5a1885fc1e/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->