<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "about_us" }}
        <div class="col-md-4 col-sm-6">
            <h4>{{ i18n "aboutUs" }}</h4>

            {{ .Site.Params.about_us | safeHTML }}

            <hr>

            <h4><a href="/fællesskab">Vi støtter</a></h4>
            <a href="https://www.danmarkplantertraeer.dk/" target="_blank"><img src="/img/trees.png" class="img-responsive" /></a>

            <hr class="hidden-md hidden-lg hidden-sm">
        </div>
        <!-- /.col-md-4 -->
        {{ end }}

        <div class="col-md-4 col-sm-6"></div>

        {{ if isset .Site.Params "address" }}
        <div class="col-md-4 col-sm-6">

            <h4>{{ i18n "contactTitle" }}</h4>
            <strong>{{.Site.Params.companyName}}</strong> {{ .Site.Params.address | safeHTML }}

            <br /> Mobil: <a href="tel:+4582303420">82 30 34 20</a>
            <br /> CVR: 36 08 60 09
            <br />
            <br />
            <a href="/kontakt" class="btn btn-small btn-template-main">{{ i18n "contactGoTo" }}</a>

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

    </div>
    <!-- /.container -->
</footer>

<div id="static">
    <div class="hidden-xs">
        mail: <a href="mailto:info@holion.dk">info@holion.dk</a> &bull; telefon: <a href="tel:+4582303420">82 30 34 20</a>
    </div>
    <div class="visible-xs">
        <a href="tel:+4582303420">Ring til os</a>
    </div>
</div>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "b555f5ruiy");
</script>