{{ if isset . "link" }}
<a href="{{.link}}">
{{ end }}
    <div class="holion-frame">
        {{ with .image }} {{ if isset . "url" }}
        <img class="frame-content-image" src="{{ .url }}" />
        {{ end }} {{ end }}
        {{/* {{ partial "frame-image" .}} */}}
        {{/* <div class="frame-content-outer"> */}}
            {{/* <img class="img-holion" src="/img/layout/billedramme.png" />
            {{ if isset . "text" }}
            {{ partial "frame-image-with-text" .}}
            {{ else }}
            {{ partial "frame-image" .}}
        {{ end }} */}}
    </div>
{{ if isset . "link" }}
</a>
{{ end }}