<div class="frontpageCasesWrapper">
    <div class="container">
        <div class="frontpageCases">
            <div class="caseApp">
                <img src="https://images.ctfassets.net/pae07rsu8v0z/LSD9zpiVvwCtpIHeneExK/001e8999b022cae6c2b3d3377e4ca32b/Case_1_App.png"
                    alt="">
            </div>
            <div class="caseApp">
                <img src="https://images.ctfassets.net/pae07rsu8v0z/5lDyOARVwN8alzt8gcmV5w/00bf44244e7abfcafc87dc7a51427aae/Case_2_App.png"
                    alt="">
            </div>
            <div class="caseWeb">
                <img src="https://images.ctfassets.net/pae07rsu8v0z/17U8JBwIfrcsG6ctxcREiM/a3e66e994ff6dd1e61a7159056ee5cfe/unitpartner-web.png"
                    alt="">
                    <a href="/cases/" style="justify-content: end; display: flex; width: 100%; color: white; padding-block:30px;font-size:24px;">Se flere cases her</a>
            </div>
        </div>
    </div>
</div>