<div class="frontpageCasesWrapper">
    <div class="container">
        <h2 class="holion-title-section my-3 text-center" style="font-weight: 300;padding-top:60px;">Fremhævede cases</h2>
        <div class="frontpageCases">
            <a class="caseApp" href="/cases/carbuddii/">
                <img src="https://images.ctfassets.net/pae07rsu8v0z/LSD9zpiVvwCtpIHeneExK/001e8999b022cae6c2b3d3377e4ca32b/Case_1_App.png"
                    alt="">
            </a>
            <a class="caseApp" href="/cases/improvento/">
                <img src="https://images.ctfassets.net/pae07rsu8v0z/5lDyOARVwN8alzt8gcmV5w/865cfc30ba6afa305a4f788f11e28212/Case_2_App.png"
                    alt="">
            </a>
            <a class="caseWeb" href="cases/unitpartner/">
                <img src="https://images.ctfassets.net/pae07rsu8v0z/17U8JBwIfrcsG6ctxcREiM/a3e66e994ff6dd1e61a7159056ee5cfe/unitpartner-web.png"
                    alt="">
            </a>
            <a href="/cases/" class="moreCasesLink">Se flere cases her</a>
        </div>
    </div>
</div>