<div class="navbar-affixed-top affix">

    <div class="navbar navbar-expand-lg navbar-default">
        <div class="container">
            <div class="d-flex justify-content-between" style="width: 100%">

                <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                    <img src="{{ .Site.Params.logo }}" alt="{{ .Title }} logo" class="d-none d-lg-block">
                    <img src="{{ .Site.Params.logo_small }}" alt="{{ .Title }} logo" class="d-lg-none" style="width: 150px">
                </a>
                <div class="navbar-buttons">
                    <button class="menu__btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="nav-bar-button-expanded holion_main_color fa fa-times"></i>
                        <i class="nav-bar-button-collapsed  fa fa-bars"></i>
                    </button>
                </div>
            </div>
            {{ if .Site.Menus.main }}
            <nav>
                       
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    {{- $currentNode := . }} {{- range .Site.Menus.main }} {{- if .Name }} {{- if .HasChildren }}
                    <ul class=" menu__list">
                        <li class="content-change-on-hoover menu__item menu__dropdown{{ if or ($currentNode.IsMenuCurrent " main " .) ($currentNode.HasMenuCurrent "main " .) }} menu__item--active{{ end }}">
                            <a class="menu__link text-nowrap " >
                                <span class="menu__text_arrow"></span>
                                <span class="menu__text">{{ .Name }}</span> 
                                <span class="menu__text_arrow"> 
                                    <i class="fa fa-arrow-down d-lg-none hide_on_hover"></i> 
                                    <i class="fa fa-arrow-up d-lg-none show_on_hover"></i>
                                </span>
                            </a>
                            
                            <ul class="submenu__list">
                                {{ range .Children }}
                                <li class="submenu__item{{ if or ($currentNode.IsMenuCurrent " main " .) ($currentNode.HasMenuCurrent "main " .) }} menu__item--active{{ end }}">
                                    <a class="submenu__link text-nowrap" href="{{ .URL }}">
                                        <span class="submenu__text">{{ .Name }}</span>
                                    </a>
                                </li>
                                {{ end }}
                            </ul>
                        </li>
                       
                    </ul>
                    {{- else }}
                    <ul class=" menu__list">
                        <li class="menu__item menu__dropdown{{ if or ($currentNode.IsMenuCurrent " main " .) ($currentNode.HasMenuCurrent "main " .) }} menu__item--active{{ end }}">
                            <a  {{ if eq .Name "Kontakt" }} class="menu__link text-nowrap background-green" 
                                {{ else }} class="menu__link text-nowrap" 
                                {{ end }} href="{{ .URL }}">
                                <span   {{ if eq .Name "CSR" }} class="menu__text green" 
                                        {{ else }} class="menu__text" 
                                        {{ end }}>
                                        {{ .Name }}
                                </span>
                            </a>
                        </li>
                    </ul>
                    {{- end }} {{- end }} {{- end }}
                </div>
            </nav>
            {{ end }}

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                        </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

</div>

<!-- *** NAVBAR END ***-->