<div class="popup popup-hidden">
    <div class="close-popup">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>
    </div>
    <div class="popup-header">
        <img src="/svg/ebog2024.svg">
    </div>
    <form method="POST" action="https://holion.activehosted.com/proc.php" id="_form_3_"
        class="_form _form_3 _inline-form  _dark" novalidate data-styles-version="5">
        <input type="hidden" name="u" value="3" />
        <input type="hidden" name="f" value="3" />
        <input type="hidden" name="s" />
        <input type="hidden" name="c" value="0" />
        <input type="hidden" name="m" value="0" />
        <input type="hidden" name="act" value="sub" />
        <input type="hidden" name="v" value="2" />
        <input type="hidden" name="or" value="20cf04ae-658e-40a3-96b5-d4424d949adb" />
        <div class="_form-content">
            <div class="_form_element _x93151886 _full_width _clear">
                <div class="_form-title">
                    Tilmeld dig vores nyhedsbrev og få tilsendt e-bogen
                </div>
                <div class="_form-title-mobile">
                    Tilmeld dig vores nyhedsbrev og få tilsendt e-bogen<br>"<span>7 fejl du begår, når du laver en
                        app</span>"
                </div>
            </div>
            <div class="_form_element _x12163297 _full_width _clear">
                <div class="_html-code">
                    <p>
                        Du tilmelder dig vores velkomstflow på 4 mails, og herefter får du vores nyhedsbrev 1 gang
                        om måneden. Du kan se frem til inspiration indenfor IT og app udvikling, tips og tricks samt
                        nyheder fra Holion.
                    </p>
                </div>
            </div>
            <div class="_form_element _x02321309 _full_width ">
                <label for="firstname" class="_form-label">
                    Fornavn
                </label>
                <div class="_field-wrapper">
                    <input type="text" id="firstname" name="firstname" />
                </div>
            </div>
            <div class="_form_element _x46688109 _full_width ">
                <label for="email" class="_form-label">
                    E-mail adresse
                </label>
                <div class="_field-wrapper">
                    <input type="text" id="email" name="email" required />
                </div>
            </div>
            <div class="_form_element _x13276726 _full_width ">
                <fieldset class="_form-fieldset">
                    <input data-autofill="false" type="hidden" id="field[1][]" name="field[1][]" value="~|">
                    <div class="_row _checkbox-radio">
                        <input id="field_1Option 1" type="checkbox" name="field[1][]" value="this field" required>
                        <span>
                            <label for="field_1Option 1">
                                Ja, jeg har læst og accepterer <a href="/privatlivspolitik" target="_blank">Holions
                                    privatlivspolitiker</a>
                            </label>
                        </span>
                    </div>
                </fieldset>
            </div>
            <div class="_button-wrapper _full_width">
                <button id="_form_3_submit" class="_submit" type="submit">
                    Ja tak, send mig e-bogen og tilmeld mig nyhedsbrevet
                </button>
                <p class="submit-note">(du kan altid afmelde nyhedsbrevet igen)</p>
            </div>
            <div class="_clear-element">
            </div>
        </div>
        <div class="_form-thank-you" style="display:none;">
        </div>
        <div class="_form-branding">
            <div class="_marketing-by">
                Marketing by
            </div>
            <a href="https://www.activecampaign.com/?utm_medium=referral&utm_campaign=acforms" class="_logo">
                <span class="form-sr-only">
                    ActiveCampaign
                </span>
            </a>
        </div>
    </form>
</div>

<script src="/js/popup.js" defer></script>