
<h1 {{ if .isFrontPage }} class="holion-title" {{else}} class="holion-title-page" {{ end }}>
    <div class="text-center text-lg-start"> {{ partial "testIfMobileContent" (dict "mobileContent" .content.titleMobile
        "content" .content.title) }}
    </div>
    <div class=" d-none d-lg-block">
        {{ if .content.partTwoTitle}}
        {{ partial "sectionHeaderTypeWriter.html" (dict "content" .content.partTwoTitle) }}
        {{ end }}
    </div>
    <div class="d-lg-none text-center">
        {{ if .content.partTwoTitleMobile}}
        {{ partial "sectionHeaderTypeWriter.html" (dict "content" .content.partTwoTitleMobile) }}
        {{ end }}
    </div>
</h1>



