
<div {{ if .isFrontPage }} class="holion-title" {{else}} class="holion-title-page" {{ end }}>{{ .content.title }}

    {{ partial "sectionHeaderTypeWriter.html" .content }}

</div>

<div class=" my-3 mb-5">{{ .content.content | markdownify }}</div>

{{ if and .content.buttonLink .content.buttonText }}
<div class="my-5">
    {{ partial "button-link-left.html" (dict "link" .content.buttonLink "text"
    .content.buttonText "buttontype" "btn-primary" "buttonOpenLinkInExternalTab" .content.buttonOpenLinkInExternalTab)}}
</div>
{{ end }}

