{{ $currentPageUrl := .Params.contentUrl }}
{{ $frontpage := .Params.isFrontPage }}

{{ range .Site.Data.standardHeaderSection }}
{{ if eq .url $currentPageUrl }}
<div class="col-md-12 header-distance d-lg-none">
    {{ partial "sectionHeaderContentMobile.html" (dict "content" . "isFrontPage" $frontpage) }}
</div>
<div class="container d-none d-lg-block">
    <div class="row">
        {{ if isset . "imagePosition" }}
        <div class="col-md-6 header-distance">
            {{ partial "sectionHeaderContent.html" (dict "content" . "isFrontPage" $frontpage) }}
        </div>
        <div class="col-md-6 header-distance mb-5">
            {{ partial "contentful-image.html" (dict "content" . ) }}
        </div>
        {{ else }}
        <div class="col-md-12 header-distance">
            {{ partial "sectionHeaderContent.html" (dict "content" . "isFrontPage" $frontpage) }}
        </div>
        {{ end }}   
    </div>

</div>
{{ end }}
{{ end }}