{{ if isset .Site.Params "see_more" }} {{ if .Site.Params.see_more.enable }}
<section class="no-mb color-white">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-holion" src="{{ .Site.Params.see_more.icon }}" />
                <div class="testiment  mt-3">{{ .Site.Params.about_us | safeHTML }}</div>
                <div class="punchline">{{ .Site.Params.punchline | markdownify }}</div>
            </div>

        </div>
    </div>
</section>
{{ end }} {{ end }}