

    <a href="#{{ .sys.id }}" class="service-box d-flex">
        <div class="service-hover-box service-box holion-border d-flex flex-column">
            <div class="teaser-title holion-title-section-light">
                <span class="teaser-title-large"> {{ .title }} </span>
                <span class="teaser-title-small"> {{ .teaserTitleSmall }} </span>
            </div>
            <div class="teaser-section white_text_color d-none d-lg-block">
                <span>{{ .teaser }}</span>
            </div>
        </div>
        
    </a>
