

<div class="container pb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="holion-title my-3">{{ .title }}</div>
            <div class="holion-text my-3 mb-5">{{ .content | markdownify }}</div>
            {{ if and .buttonLink .buttonText }} 
            <div class="my-5">
                {{ partial "button-link-left.html" (dict "link" .buttonLink "text"
                .buttonText "buttontype" "btn-primary" )}}
            </div>
            {{ end }}
        </div>
    </div>
    
</div>

