
{{ $currentPageUrl := .Params.contentUrl }}
{{ $showTeasers := .Params.showTeaserBox }}
{{ $i := 0 }}

{{ if .Site.Data.standardSection }}
{{ if gt (len .Site.Data.standardSection) 0 }}

        {{ partial "sectionHeader.html" . }}
        
        {{ if $showTeasers}}
        {{ partial "serviceTeaserBoxes.html" .}}
        {{ $i = add $i 1 }}
        {{ end }}

        {{ range sort .Site.Data.standardSection "weight" }}
        {{ if and (ne .isHeader true) (eq .url $currentPageUrl) }}
        {{ $i = add $i 1 }}
        {{ if eq (mod $i 2) 1 }}
        <div class="green-box">
            {{ else }}
            <div>
                {{ end }}
                {{ partial "standardSection.html" .}}
            </div>
        {{ end }}
        {{ end }}


        {{ $i = add $i 1 }}
        {{ if eq (mod $i 2) 1 }}
            <div class="green-box">
        {{ else }}
            <div>
        {{ end }}
            {{ partial "contactForm.html" .}}
        </div>

    {{ end }}
{{ end }}