
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="holion-title-section holion_main_color my-3" id="{{.sys.id}}" style="scroll-margin-top: 4em;">{{ .title }}
            </h2>
            {{ partial "testIfMobileContent" (dict "mobileContent" .contentMobile "content" .content "style" "my-3 mb-5") }}
            {{ if .youtubeId }}
            {{ partial "youtube.html" (dict "id" .youtubeId )}}
            {{ end }}
            {{ partial "testIfMobileContent" (dict "mobileContent" .content2Mobile "content" .content2 "style" "my-3 mb-5") }}
            {{ if and .buttonLink .buttonText }} 
            <div class="mt-5 mb-3">
                {{ partial "button-link.html" (dict "link" .buttonLink "text"
                .buttonText "textMobile" .buttonTextMobile "buttontype" "btn-primary" "buttonOpenLinkInExternalTab" .buttonOpenLinkInExternalTab)}}
            </div>
            {{ end }}
        </div>
    </div>
    
</div>

