
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="holion-title-section holion_main_color my-3">{{ .title }}</div>
            <div class="holion-text my-3 mb-5">{{ .content | markdownify }}</div>
            {{ if .youtubeId }}
            {{ partial "youtube.html" (dict "id" .youtubeId )}}
            {{ end }}
            {{ if .content2 }} 
            <div class="holion-text my-3 mb-5">{{ .content2 | markdownify }}</div>
            {{ end }}
            {{ if and .buttonLink .buttonText }} 
            <div class="my-5">
                {{ partial "button-link.html" (dict "link" .buttonLink "text"
                .buttonText "buttontype" "btn-primary" )}}
            </div>
            {{ end }}
        </div>
    </div>
    
</div>

