{{ $currentPageUrl := .Params.contentUrl }}
{{ $showTeasers := .Params.showTeaserBox }}
{{ $showCSR := .Params.showCSRBox }}
{{ $showEmployeeSection := .Params.showEmployeeSection }}
{{ $showCaseSection := .Params.showCaseSection }}
{{ $frontpage := .Params.isFrontPage }}
{{ $i := 0 }}

{{ if .Site.Data.standardSection }}
{{ if gt (len .Site.Data.standardSection) 0 }}

{{ if $frontpage}}

<div class="frontpage-header-box">
    {{ partial "sectionHeader.html" . }}
</div>
{{ partial "features.html" . }}

{{ partial "testimonials.html" . }}

{{ else}}
{{ partial "sectionHeader.html" . }}
{{ end }}

{{ if $showTeasers}}
{{ partial "serviceTeaserBoxes.html" .}}
{{ $i = add $i 1 }}
{{ end }}

{{ if $showCSR}}
{{ partial "csr-box.html" .}}
{{ $i = add $i 1 }}
{{ end }}

{{ if $showEmployeeSection}}
{{ partial "employees.html" .}}
{{ $i = add $i 1 }}
{{ end }}

{{ if $showCaseSection}}
{{ partial "cases.html" .}}
{{ $i = add $i 1 }}
{{ end }}


{{$site := .Site }}
{{ range sort .Site.Data.standardSection "weight" }}
{{ if and (and (ne .isHeader true) (eq .url $currentPageUrl)) (.weight) }}
{{ $i = add $i 1 }}
{{ if eq (mod $i 2) 1 }}
<div class="green-box">
    {{ else }}
    <div>
        {{ end }}
        {{ if isset . "imagePosition" }}
        {{ partial "standardSectionImagePosition.html" .}}
        {{ else if isset . "tag" }}
        {{ if eq .tag "testimonial"}}
        {{ partial "standardSectionWithTag.html" (dict "site" $site "case" $currentPageUrl)}}
        {{ end }}
        {{ else }}
        {{ partial "standardSection.html" .}}
        {{ end }}
    </div>
    {{ end }}
    {{ end }}


    {{ $i = add $i 1 }}
    {{ if eq (mod $i 2) 1 }}
    <div class="green-box">
        {{ else }}
        <div>
            {{ end }}
            {{ partial "contactForm.html" .}}
        </div>

        {{ end }}
        {{ end }}