<div class="container py-5">
    <div class="row mt-3">
        <div class="col-12 col-md-1 m-auto ">
            <div class="vericaltext holion-title-section">{{.verticalTextLabel}}</div>
        </div>
        <div class="col-12 col-md-11 m-auto">
            {{ partial "standardSectionContentImagePosTitle" . }}
            {{ partial "testIfMobileContent" (dict "mobileContent" .contentMobile "content" .content "style" "my-3") }}
            {{ partial "standardSectionContentImagePosBottom" . }}
        </div>
    </div>
</div>