<div class="container py-5">
    
    <div class="row">
        {{if eq .imagePosition "mid" }}
            {{ partial "standardSectionContentImagePosTop" . }}
            {{ if .imageSize }}
            <div class="col-md-{{.imageSize }} m-auto">
                {{ partial "contentful-image.html" (dict "content" .) }}
            </div>
            {{ else }}
            <div class="col-md-6 m-auto">
                {{ partial "contentful-image.html" (dict "content" .) }}
            </div>
            {{ end }}
            {{ partial "standardSectionContentImagePosBottom" . }}
        {{ else }}
            <div {{ if eq .imagePosition "left" }} class="col m-auto ms-5 order-last" {{ else }} class="col me-md-5 m-auto" {{ end }}>
                {{ partial "standardSectionContentImagePosTop" . }}
                {{ partial "standardSectionContentImagePosBottom" . }}
            </div>
            {{ if .imageSize }}
                <div class="col-md-{{.imageSize }} m-auto">
                    {{ partial "contentful-image.html" (dict "content" .) }}
                </div>
            {{ else }}
                <div class="col-md-6 m-auto">
                    {{ partial "contentful-image.html" (dict "content" .) }}
                </div>
            {{ end }}
        {{ end}}
    </div>

</div>