<section class="bar no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="holion-title-section holion_main_color my-5">{{ .Site.Params.testimonials.title }}</div>

                <!-- *** TESTIMONIALS CAROUSEL *** -->
                <ul class="owl-carousel testimonials">
                    {{ range (where (where .Site.AllPages.ByWeight "Type" "testimonials")
                    ".Params.testimonial" "!=" nil) }}
                    <li class="item">
                        <div class="row testimonial-items">
                            {{ partial "testimonial-content.html" . }}
                        </div>
                    </li>
                    {{ end }}

                </ul>
                <!-- /.owl-carousel -->
                {{ partial "button-link.html" (dict "link" $.Site.Params.testimonials.buttonLink "text"
                $.Site.Params.testimonials.buttonText "buttontype" "btn-primary" )}}
                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>
            

        </div>
    </div>
</section>
<!-- /.bar -->