<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
    {{ partial "bodytop.html" . }}
    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <div id="content">
            <div class="container">

                <div class="col-sm-6 col-sm-offset-3" id="error-page">

                        <h2>Vi beklager</h2>
                        <h4 class="text-muted">Du har ramt en side, som vi ikke kender.</h4>

                        <img src="img/404.png" class="error-img">

                        <p class="buttons"><a href="{{ .Site.BaseURL }}" class="btn btn-primary">Gå til forsiden</a>
                        </p>
                    </div>

                    <!-- /.col-sm-6 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    
    {{ partial "scripts.html" . }}
  </body>
</html>
