<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    {{ partial "bodytop.html" . }}
    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>

        <div id="content">

            <div class="col-md-12 header-distance">
                <div class="container">
                    <h1 class="holion-title-page m-0">Bliv en del af Holion teamet</h1>
                    <div class="video-block">
                        <div>
                            <p class="my-4">
                                Hvem havde troet, at et firma i downtown Hadsten skulle vise sig at være verdens fedeste
                                arbejdsplads?
                                <br><br>
                                Hos Holion er vi altid på udkig efter talentfulde og rare mennesker, der gerne vil være med i
                                vores skøre, kloge, smilende, dygtige og hårdarbejdende team. Se vores ledige stillinger
                                herunder – eller vær lidt fremme i skoene og send os en uopfordret ansøgning.
                            </p>
                        </div>
                        <div class="streamable-video">
                            <iframe allow="fullscreen;autoplay" allowfullscreen height="100%"
                                src="https://streamable.com/e/vsb3g6?autoplay=1&muted=1&nocontrols=1" width="100%"
                                style="border:none; position:absolute; left:0px; top:0px; bottom: 0; margin: auto; overflow:hidden;"></iframe>
                        </div>
                    </div>
                    <a href="mailto:verdensfedestearbejdsplads@holion.dk" class="btn btn-primary">Send os en uopfordret
                        ansøgning</a>
                </div>
            </div>

            <div class="green-box">
                <div class="container py-4 mt-5">
                    <h2 class="holion-title-section holion_main_color my-3">Fed virksomhed med gode kollegaer</h2>
                    <p>
                        Der er masser af gode arbejdspladser indenfor IT branchen. Så hvorfor skal det lige være Holion,
                        man skal vælge? Hos Holion tror vi på, at hvis vi forventer noget af vores medarbejdere (hvilket
                        vi gør), skal vi også kunne indfri nogen af de forventninger, de har til os. Det drejer sig
                        blandt andet om:
                        <br><br>
                        <b>Høj grad af frihed:</b>
                        <br><br>
                        Det gælder både indenfor hvilke opgaver du gerne vil arbejde med. Er det frontend, backend,
                        apps, web eller noget helt andet? Men det gælder også i forhold til arbejdstider og steder. Som
                        udgangspunkt fungerer det bedst, hvis vi sidder sammen og har mulighed for at trække på
                        hinandens kompetencer. Men passer det dig bedst at du arbejder hjemmefra en dag eller to, finder
                        vi ud af det - vi bruger Slack i stor stil, så der er ikke langt til kollegaerne.
                        <br><br>
                        <b>Frokostordning:</b>
                        <br><br>
                        Ikke noget med at slæbe et par slatne stykker rugbrød med - dem sørger vi for ;-) Vi har en
                        svaghed for Pepsi Max, god kaffe, chilimayo og gulerødder her på kontoret, og så er der altid en
                        hemmelig ekstra lækker ret om fredagen.
                        <br><br>
                        <b>Socialt samvær:</b>
                        <br><br>
                        Vi kan godt li’ god mad, hygge og en øl eller to - det håber vi også du kan? Det sociale er en
                        stort del af at være ansat hos Holion, og vi ser altid frem til den næste fredagsbar,
                        sommerhustur eller løbetræning. Vi spiser også morgenmad sammen fra den lokale bager hver
                        fredag, og selvom der er uenighed om, hvorvidt smøren til brødet skal være plantebaseret eller
                        ej, er alle enige om, at fredagsmorgenmad er noget af det hyggeligste!
                        <br><br>
                        <b>Super dygtige kollegaer:</b>
                        <br><br>
                        Vi vægter passion højere end uddannelsesniveau. Men vi kan love dig, at vi alle er super skarpe
                        til det, som vi sidder med. Vi går også meget op i vidensdeling, og vi hjælper altid en kollega,
                        hvis han/hun har en udfordring, vi kender løsningen på.
                        <br><br>
                        <b>Fed teknologi:</b>
                        <br><br>
                        Som konsulenthus har vi ofte muligheden for at være med til igangsætningen af nye projekter hos
                        vores kunder. Det betyder, at vi er med til at definere projektet og den teknologi der skal
                        anvendes - så vi anvender naturligvis de teknologier, som vi synes er fedest.
                    <div class="technologies-gallery">
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/1ENq98pOq3EMhfGGS0Z5p5/c819ffcfbe846ecf2dc602a3a332bf56/vscode.png"
                                alt="VS Code">
                            <span class="technologies-name">VS Code</span>
                        </div>
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/48UkePMqvGRAVvin8PCKw1/a4027b4591c5cf3903fefe56abb59c1b/flutter.png"
                                alt="Flutter">
                            <span class="technologies-name">Flutter</span>
                        </div>
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/3sJDeqQv8zjt30CMCYIS1j/61aa1bbcee331df58fdd588e8135d577/firebase.png"
                                alt="Firebase">
                            <span class="technologies-name">Firebase</span>
                        </div>
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/4X6YW6xQckGA4RV3PbMn9w/6f0a9b2e62559e79f7c85f8ea88d487d/xamarin.png"
                                alt="Xamarin">
                            <span class="technologies-name">Xamarin</span>
                        </div>
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/6bFSPwQ9kHqYVX4hNWs9r/26b74c8c19646c65e801dced7e8a4a0b/ios.png"
                                alt="iOS">
                            <span class="technologies-name">iOS</span>
                        </div>
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/3aYktt6q1nyV3R7Db82gyl/bbe243cb2aec42aa91708a9f6d0e9625/android.png"
                                alt="Android">
                            <span class="technologies-name">Android</span>
                        </div>
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/1aavVj9ypuVYQdEbSZ4afQ/1b71383bde6563eda8f76669c26fb70b/azure.png"
                                alt="Azure">
                            <span class="technologies-name">Azure</span>
                        </div>
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/4kHe0Gcj7Mr3mriXLhm7pi/d08c29dc0e16ee47010d98e75e9136e4/azure-devops.png"
                                alt="Azure DevOps">
                            <span class="technologies-name">Azure DevOps</span>
                        </div>
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/3NhPhY13pBtSOZZpFR5qmT/5bcba756e24b33cadda958b16b09b38e/github.png"
                                alt="GitHub">
                            <span class="technologies-name">GitHub</span>
                        </div>
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/1SEXfPPy9PiaOV13v2DtJB/8add972a96f4af5e87228a55d902bfea/typescript.png"
                                alt="TypeScript">
                            <span class="technologies-name">TypeScript</span>
                        </div>
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/5RrBWgiEIDfnAIwEFKdmGx/d8808c8c5702376e4645a0b7005c7eaa/react.png"
                                alt="React">
                            <span class="technologies-name">React</span>
                        </div>
                        <div class="technologies-img">
                            <img src="https://images.ctfassets.net/pae07rsu8v0z/3diN6scHY54PPLl7P1s11N/01822dc374fe38bcf4f02da7abc35a52/angular.png"
                                alt="Angular">
                            <span class="technologies-name">Angular</span>
                        </div>
                        {{/* <img
                            src="https://images.ctfassets.net/pae07rsu8v0z/6oe7mFoIv4ALCRHQLrrbq1/8eb0792d40814d917ac8bc3bb93020a7/dotnet.png"
                            alt=".NET">
                        <img src="https://images.ctfassets.net/pae07rsu8v0z/wn0y6qfEE8TOZosDfmC60/8af5c18760ae7a3cab8a91c2f4781428/c-sharp.png"
                            alt="C#">
                        <img src="https://images.ctfassets.net/pae07rsu8v0z/4UV9uNpRQmNpmY67FbgNKB/f4f524f5fa61eb44a9fd6a16374ce91c/startiapp.png"
                            alt="starti.app"> */}}
                    </div>
                    <br><br>
                    <b>Kontor i centrum af Hadsten - lige ved busstationen og banegården:</b>
                    <br><br>
                    Så bor du f.eks. i Aarhus kan du bruge 18 minutter i toget på at komme til kontoret. Bor du i
                    nærheden af Aarhus og kører bil, kan du hurtigt spare en del tid hver morgen på at køre ud af
                    Aarhus i stedet for at køre ind til Aarhus.
                    </p>
                    <a href="mailto:verdensfedestearbejdsplads@holion.dk" class="btn btn-primary my-4">Lyder det som
                        noget for dig?</a>
                </div>
            </div>

        </div>

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

</body>

</html>