<div class="case" style="display: inline-block; width: 100%; max-height: 300px; overflow: hidden; background-image: linear-gradient(to right bottom, {{.Get 1}}, #ffffff); border-radius: 20px; border: 1px solid black">
    <div style="width: 520px; float: left; text-align: center; padding" class="hidden-xs hidden-sm">
        <a href="{{.Get 0}}">
            <img src="{{.Get 2}}" style="width: 510px">
        </a>
    </div>
    <div style="margin: 20px">
        <h3>{{.Get 3}}</h3>
        <p class="description">{{.Get 4 | markdownify}}</p>
        <a href="{{.Get 0}}" class="btn btn-small btn-template-main">Læse mere</a>
    </div>
</div>