<div class="row">
    {{ range (where (where .Site.Pages "Type" "employees" ) ".Params.shown" true) }}
    <div class="col-md-4 item">
        <div class="card-box">
            <img class="img-full-width" src="/img/employees/{{ .Params.Img }}" />
            <div class="name-box">
                <img class="align-top mt-4" src="/img/layout/arrow-up.svg" />

                <div class="name-fill m-4">
                    <div class="holion_main_color title_medium_weight_medium">{{ .Params.name }}</div>
                    <div class="content_medium">
                        {{ .Params.title }} <br> {{ .Params.email }} <br> {{ .Params.tlfnr }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>