<div class="container-md m-5 p-4">


    <div class="title_large">
        {{.Page.Params.title}} <br />
        <span class="holion_main_color">_ {{.Get 0}}</span>
    </div>

    <div class="row align-items-baseline">
        <div class="col-md-2 ml-5 mt-5">
            <div class="holion_main_color title_medium">
                {{.Get 0}}
            </div>
        </div>
        <div class="col-md-10 mt-5">
            <div class="content_medium">
                {{ .Inner | markdownify}}
            </div>

        </div>
    </div>
    {{ if ne (.Get 1) "" }}
    <div class="holion-button-outer m-3">
        <div class="holion-button-inner">
            <a href="{{.Get 2}}"> {{.Get 1}} </a>
        </div>
    </div>
    {{ end }}

</div>