<div class="single-testimonial">
    <ul class="testimonials">
        {{ range (where (where .Site.AllPages.ByWeight "Type" "cases") ".Params.link" "=" (.Get 0) ) }}
        <li class="item" style="border: 1px solid {{ .Params.color }}">
            <div style="background-color: {{ .Params.color }}; height: 120px; position: relative; cursor: pointer"
                onclick="location.href='/cases/{{.Params.link}}'">
                <img src="/img/testimonials/{{ .Params.companyLogo }}" class="img-responsive img-centered"
                    style="max-height: 80%; max-width: 90%; top: 0; bottom: 0; left: 0; right: 0; margin: auto; position: absolute">
            </div>
            <div class="testimonial">
                <div class="text">
                    <p>{{ .Params.testimonial | markdownify }}</p>
                </div>
                <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i>
                    </div>
                    <div class="name-picture">
                        <img class="" alt="" src="/img/testimonials/{{ .Params.testimonialByImg }}">
                        <h5><a href="{{ .Params.testimonialByLink }}" target="_blank">{{ .Params.testimonialBy }}</a>
                        </h5>
                        <p>{{ .Params.testimonialByTitle }}, {{ .Params.company }}</p>
                    </div>
                </div>
            </div>
            <div class="read-case" style="background-color: {{ .Params.color }}; cursor: pointer"
                onclick="location.href='/cases/{{.Params.link}}'">
                Læs mere om projektet
            </div>
        </li>
        {{ end }}
    </ul>
</div>