<div class="container">
    <div class="title_extra_large mb-5">
        {{.Get "title"}}
    </div>
    <div class="row">
        <div class="row align-items-baseline  justify-content-between">
            <div class="col-md-2">
                <div class="holion_main_color title_medium">
                    {{.Get "subtitle"}}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xl-9 col-md-12">
                        <div class="row pl-5 pt-3">
                            {{ range $index, $element := sort .Site.Data.technologies "weight" }}
                            <div class="col-3">
                                <img class="technology-style" src="/img/technologies/{{ $element.src }}" />
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>