			</div>
		</div>
	</div>
</div>

<div class="testimonial" style="background-color: {{.Get 0}}">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img src="/img/testimonials/{{.Get 1}}" class="img-responsive img-centered">
			</div>
			<div class="col-md-10 col-md-offset-1" style="padding: 20px; margin-top: 20px">
				<img src="/img/testimonials/{{.Get 2}}" class="profile">
				<div style="display: table-cell">
					<div class="text">
						<p><i class="fas fa-quote-left"></i> {{.Inner}} <i class="fas fa-quote-right"></i></p>
					</div>
					<div class="contact">
						<p><a href="{{.Get 4}}">{{.Get 3}}</a>, {{.Get 5}}<br />
							{{.Get 6}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div>