{{ if gt (len .Site.Data.vacancies) 0 }}
<section class="bar">
    <div class="container">
        {{ range $index, $element := sort .Site.Data.vacancies "weight" }} {{ if eq (mod $index 3) 0 }}
        <div class="col-md-12">
            <div class="row">
                {{ end }}
                <div class="col-md-4">
                    <div class="card-box holion-border same-size-box">
                        <div class="title mx-4 mt-4">{{ $element.title | markdownify }}</div>
                        <div class="content mx-4 my-4">{{ $element.description | markdownify }}</div>
                        <div class="right-positioned-parent">
                            <div class="right-positioned-component content_medium my-3" style="cursor: pointer " onclick="location.href='/cases/{{.Params.link}}' ">
                                _ Læs mere
                            </div>
                        </div>
                    </div>
                </div>
                {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.features) 1 )) }}
            </div>
        </div>
        {{ end }} {{ end }}
    </div>
</section>
{{ end }}