<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    {{ partial "bodytop.html" . }}
    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>

        <div id="content">

            <div class="col-md-12 header-distance">
                <div class="container pb-5">
                    <h1 class="holion-title-page m-0">Senior C#/.NET-udvikler</h1>
                    <h2 class="holion-title-section holion_main_color my-3">
                        Du er en superskarp og erfaren C#/.NET-udvikler.
                        <br>
                        Og du har absolut nul-komma-nul planer om at skifte job.
                        <br>
                        Og du vil da hellere ha’ hevet en tånegl af uden bedøvelse end at arbejde i Hadsten.
                    </h2>
                    {{/* <ul>
                        <li>Du er en superskarp og erfaren C#/.NET-udvikler.</li>
                        <li>Og du har absolut nul-komma-nul planer om at skifte job.</li>
                        <li>Og du vil da hellere ha' hevet en tånegl af uden bedøvelse end at arbejde i Hadsten.</li>
                    </ul> */}}
                </div>
            </div>

            <div class="green-box">
                <div class="container">
                    <div class="ledige-stillinger-section">
                        <div>
                            <p>
                                Du ved, at du er god - og du har jo allerede et godt job. Meeeeen du blev alligevel lidt
                                nysgerrig over overskriften. Og nu har du jo læst så langt. Det er vi glade for.
                                <br><br>
                                Vi hedder Holion ApS, og vi er et mindre udviklingshus med mere end 20 års erfaring med
                                .NET
                                udvikling. Vi er specialiserede i Microsofts teknologier og leverer skræddersyede apps,
                                webløsninger og programmer til virksomheder i alle størrelser.
                                <br><br>
                                Det går godt i vores butik. Derfor søger vi flere dygtige hoveder. Da der jo sidder
                                sådan et
                                på
                                dig, vil vi gerne mødes og fortælle om, hvorfor du ikke kan sige nej til et job hos os.
                                <br><br>
                                Du kommer til at arbejde med udvikling i C#, .NET og Azure, hvor det agile
                                udviklingsmiljø
                                foregår i DevOps med daglige standups og opgavestyring.
                                <br><br>
                                Du vil indgå i et team af dedikerede udviklere, der hjælper hinanden og altid er klar på
                                en
                                battle om teknologivalg.
                                <br><br>
                                Du får stor frihed til at løse opgaven på din måde - bare du har de gode argumenter
                                klar.
                                <br><br>
                                <b>Du bliver meget begejstret for os, hvis:</b>
                            <ul>
                                <li>Du kan li’ friheden til selv at være med til at definere dine arbejdsopgaver og
                                    arbejdstider, hvor der selvfølgelig også er plads til det gode familieliv.</li>
                                <li>Du begejstres af kolleger med et stærkt fagligt drive og kan li’ et uhøjtideligt og
                                    dynamisk arbejdsmiljø</li>
                                <li>Du trives med frie rammer og en tillidsbaseret ledelsesstil</li>
                                <li>Du kan give dobbelt thumbs up til vores arbejde med bæredygtighed og socialt
                                    engagement
                                </li>
                                <li>Du ikke vil nøjes med løn og pension, men også have en god sundhedsforsikring og en
                                    lækker frokostordning</li>
                                <li>Du ikke er direkte afvisende overfor en fredagsøl. Eller to. Og en omgang beer pong.
                                </li>
                            </ul>
                            <b>Vi bliver meget begejstrede for dig, hvis:</b>
                            <ul>
                                <li>Du er softwareudvikler og har solid erfaring med C#</li>
                                <li>Du vil ikke kun vide “hvordan”, men også “hvorfor”, når du støder på en udfordring
                                </li>
                                <li>Du synes, at det er fedt at gå forrest og sætte standarden for, hvad lækker kode er
                                </li>
                                <li>Du er den, dine kollegaer går til, når hverken de selv, Google eller ChatGPT kan
                                    gennemskue en bug</li>
                                <li>Du ved, at trial-and-error nogle gange er den bedste vej til at komme ud over
                                    stepperne,
                                    frem for at researche i timevis</li>
                                <li>Du kan li’ at få fingrene i forskellige og afvekslende projekter, hvor du kan se din
                                    kode blive til virkelighed med det samme</li>
                                <li>Du har erfaring med appudvikling (det er dog ikke et must)</li>
                                <li>Du synes, at ”nørd” er et kæmpe plusord</li>
                            </ul>
                            Sådan - så nåede du så langt! Nu mangler du bare at sende os et motiveret CV på mail
                            <a href="mailto:job@holion.dk">job@holion.dk</a> og fortælle os, at jobbet hos Holion er
                            lige
                            nøjagtig det job, du ikke vidste, at
                            du ledte efter!
                            <br><br>
                            Ansøgningsfristen er <b>den 20. august 2024</b>, men vi holder samtaler løbende. Vi håber,
                            at du kan
                            starte den 1. oktober.
                            <br><br>
                            Vi glæder os til at møde dig!
                            </p>
                        </div>
                        <div>
                            <div class="ledige-stillinger-box">
                                <p>Ansøgningsfrist <b>d. 20. august 2024</b></p>
                                <p>Ansøgning sendes til <a href="mailto:job@holion.dk">job@holion.dk</a></p>
                            </div>
                            <h2 class="holion-title-section holion_main_color my-3">Har du spørgsmål til stillingen?
                            </h2>
                            <div class="ledige-stillinger-info">
                                <img src="https://images.ctfassets.net/pae07rsu8v0z/4k1CqlrVx3bJsYiKBhZ4o/d7caa846bb9f863a7a64f9f8a8bbf328/Niels.jpg"
                                    alt="Billede af Niels">
                                <div>
                                    <p>
                                        Hvis du har spørgsmål til stillingen - eller om teknologi, togtider eller
                                        tånegle -
                                        så ta’
                                        fat i
                                        CEO Niels Ladegaard Beck.
                                    </p>
                                    <span>Telefon</span>
                                    <a href="tel:+4528921698" class="ledige-stillinger-contact-link">28 92 16 98</a>
                                    <span>Email</span>
                                    <a href="mailto:nlb@holion.dk"
                                        class="ledige-stillinger-contact-link">nlb@holion.dk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="container">
                    <div class="video-block">
                        <div>
                            <h2 class="holion-title-section holion_main_color my-3">Om Holion</h2>
                            <p class="mb-5">
                                I Holion udvikler vi IT-systemer, apps, backend og webbaserede systemer til firmaer, der
                                søger
                                specialdesignede løsninger. Med os som samarbejdspartner kan de regne med høj kvalitet,
                                værdiskabende sparring og stor gennemsigtighed igennem hele processen.
                                <br><br>
                                Vi arbejder seriøst med FN’s 17 Verdensmål, og har som eksempel indrettet vores nye
                                lokaler
                                udelukkende med genbrugsmøbler. Vi har også tilsluttet os FN’s Global Compact, som er
                                verdens
                                største frivillige initiativ for ansvarlige virksomheder.
                                <br><br>
                                Vi sætter fagligheden højt og arbejder i små, agile teams, der varierer alt efter
                                projektets
                                størrelse og teknologi. Og apropos teknologi, så er ny teknologi jo altid sjovt og
                                spændende, så
                                det afprøver vi gerne.
                                <br><br>
                                Dagligdagen er meget varierende, men starter altid med et kort udviklermøde, hvor dagens
                                opgaver
                                skitseres og eventuelle udfordringer vendes. Er man kørt fast, er der altid hjælp at
                                hente!
                                <br><br>
                                Holion er en arbejdsplads med plads til alle, og hvor vi prioriterer fællesskabet højt.
                                Vi
                                holder frokostpause sammen, og der er altid plads til gode grin og sjove røverhistorier.
                                <br><br>
                                Jævnligt holder vi fredagsbar (altid med gin og specialøl), og tager gerne ud af huset
                                til
                                padel, escape room, bowling eller en bid god mad.
                                <br><br>
                                Og så holder vi i øvrigt til i Hadsten, blot et par minutters gang fra stationen, hvor
                                man let
                                kan komme til og fra med tog.
                            </p>
                        </div>
                        <div class="streamable-video">
                            <iframe allow="fullscreen;autoplay" allowfullscreen height="100%"
                                src="https://streamable.com/e/vsb3g6?autoplay=1&muted=1&nocontrols=1" width="100%"
                                style="border:none; position:absolute; left:0px; top:0px; bottom: 0; margin: auto; overflow:hidden;"></iframe>
                        </div>
                    </div>
                </div>

            </div>

            <div class="green-box">
                <div class="container py-5">
                    <h2 class="holion-title-section holion_main_color my-3">Hvad skal der ske nu?</h2>
                    <!-- Test -->
                    <div class="ledige-stillinger-steps">
                        <div class="ledige-stillinger-step">
                            <span>1</span>
                            <b>Send dit CV</b>
                            <p>
                                Send os dit motiverede CV på <a href="mailto:job@holion.dk">job@holion.dk</a> senest d.
                                20.
                                august 2024.
                                Sådan! Vi glæder os allerede til at læse om dig.
                                Tjek din inbox for en bekræftelse fra os på, at vi har modtaget dit CV.
                            </p>
                        </div>
                        <div class="ledige-stillinger-step">
                            <span>2</span>
                            <b>1. samtale og kodetest</b>
                            <p>
                                Hvis du er blandt de udvalgte, vil du blive inviteret til 1. samtale på vores kontor.
                                Sammen med invitationen følger en kodeopgave, så vi kan få et indblik i dine tekniske
                                skills. Opgaven skal du have løst og fremsendt til os senest dagen inden samtalen.
                                <br><br>
                                Under samtalen vil vi spørge ind til din løsning af opgaven og dine overvejelser
                                undervejs.
                                Vi er selvfølgelig også nysgerrige på at høre mere om dig, dine erfaringer og hvilke
                                teknologier, du har en særlig passion for.
                                <br><br>
                                Derudover stiller vi dig også en ny lille kodeopgave, som du skal løse på stedet.
                            </p>
                        </div>
                        <div class="ledige-stillinger-step">
                            <span>3</span>
                            <b>Personlighedstest</b>
                            <p>
                                Hvis du og vi efter 1. samtale synes, at der er et godt match, vil du få tilsendt en
                                personlighedstest, som du kan tage hjemmefra. Resultatet er med til at vise os, hvordan
                                du passer ind i samarbejdet med teamet.
                            </p>
                        </div>
                        <div class="ledige-stillinger-step">
                            <span>4</span>
                            <b>2. samtale</b>
                            <p>
                                Når vi har gennemgået resultaterne af personlighedstesten, vil du blive inviteret til en
                                2.
                                samtale, hvor vi sammen drøfter, hvordan dine kompetencer kan bringes i spil hos os.
                                <br><br>
                                Er vi det helt rigtige match, vil vi gå i dialog om, hvordan kontrakten skal udformes.
                            </p>
                        </div>
                        <div class="ledige-stillinger-step">
                            <span>5</span>
                            <b>Velkommen om bord!</b>
                            <p>
                                Inden du har første arbejdsdag, vil du modtage et kort onboardingprogram, som er med til
                                at
                                klæde dig godt på i dit arbejde som udvikler hos os.
                            </p>
                        </div>
                    </div>
                    {{/* <ol>
                        <li>
                            <b>Send dit CV</b>
                            <p>
                                Send os dit motiverede CV på <a href="mailto:job@holion.dk">job@holion.dk</a> senest d.
                                20. august 2024.
                                <br>
                                Sådan! Vi glæder os allerede til at læse om dig.
                                <br>
                                Tjek din inbox for en bekræftelse fra os på, at vi har modtaget dit CV.
                            </p>
                        </li>
                        <br>
                        <li>
                            <b>1. samtale og kodetest</b>
                            <p>
                                Hvis du er blandt de udvalgte, vil du blive inviteret til 1. samtale på vores kontor.
                                Sammen med invitationen følger en kodeopgave, så vi kan få et indblik i dine tekniske
                                skills. Opgaven skal du have løst og fremsendt til os senest dagen inden samtalen.
                                <br><br>
                                Under samtalen vil vi spørge ind til din løsning af opgaven og dine overvejelser
                                undervejs.
                                Vi er selvfølgelig også nysgerrige på at høre mere om dig, dine erfaringer og hvilke
                                teknologier, du har en særlig passion for.
                                <br><br>
                                Derudover stiller vi dig også en ny lille kodeopgave, som du skal løse på stedet.
                            </p>
                        </li>
                        <br>
                        <li>
                            <b>Personlighedstest</b>
                            <p>
                                Hvis du og vi efter 1. samtale synes, at der er et godt match, vil du få tilsendt en
                                personlighedstest, som du kan tage hjemmefra. Resultatet er med til at vise os, hvordan
                                du passer ind i samarbejdet med teamet.
                            </p>
                        </li>
                        <br>
                        <li>
                            <b>2. samtale</b>
                            <p>
                                Når vi har gennemgået resultaterne af personlighedstesten, vil du blive inviteret til en
                                2.
                                samtale, hvor vi sammen drøfter, hvordan dine kompetencer kan bringes i spil hos os.
                                <br><br>
                                Er vi det helt rigtige match, vil vi gå i dialog om, hvordan kontrakten skal udformes.
                            </p>
                        </li>
                        <br>
                        <li>
                            <b>Velkommen om bord!</b>
                            <p>
                                Inden du har første arbejdsdag, vil du modtage et kort onboardingprogram, som er med til
                                at
                                klæde dig godt på i dit arbejde som udvikler hos os.
                            </p>
                        </li>
                    </ol> */}}
                </div>
            </div>

            {{ partial "footer.html" . }}

        </div>
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script defer>
        document.addEventListener('copy', function (event) {
            var targetElement = event.target;
        
            // Check if the copied text comes from a link containing "job@holion.dk"
            if (targetElement.tagName === 'A' && targetElement.href.includes('job@holion.dk')) {
                // Push the 'contentCopied' event to the dataLayer
                dataLayer.push({
                    'event': 'contentCopied'
                });
        
                // Fire the tag associated with the 'GA - Klik - Mail' trigger
                dataLayer.push({
                    'event': 'GA - Klik - Mail'
                });
        
                // Fire the tag associated with the 'Kopier mailadresse' trigger
                dataLayer.push({
                    'event': 'Kopier mailadresse'
                });
            }
        });
        </script>


</body>

</html>